[2018-05-19 15:08] faustinoaq commented on #802
Hi @idabmat Thank you for report this issue! :+1:

I already working on some refactoring for `amber watch`, see: #476

Also I'm testing it with multiples browsers (Chrome, Fixefox, Edge, and others) :wink:

This will be fixed before next release

[2018-05-19 15:10] faustinoaq commented on #802
As workaround you can remove reload pipe `Amber::Pipe::Reload` in your `config/routes.cr` file

[2018-05-20 23:10] jaysneg opened #805 "params parser error"
### Description

params did not parse multi query params

?brand[]=adidas&brand[]=dc

### Steps to Reproduce

create form
with elements

input name="brand[]" type="checkbox" value="1"
input name="brand[]" type="checkbox" value="2"

**Expected behavior:** params[:brand] will be array

**Actual behavior:** params[:brand] did not exist. params["brand[]"] present

**Reproduces how often:** always

###

[2018-05-20 23:51] jaysneg commented on #805
request.query_params

it returns HTTP::Params(@raw_params={"brand[]" => ["2xist", "2xu", "31-phillip-lim"]})

[2018-05-21 00:08] jaysneg commented on #805
How to get {"brand[]" => ["2xist", "2xu", "31-phillip-lim"]} ?

[2018-05-21 00:35] faustinoaq commented on #805
[code]

BTW, Can you ask this again on [StackOverflow](https://stackoverflow.com/questions/tagged/amber-framework) ? I think this would be useful for Amber Community :wink:

If so, please use the tags `crystal-lang` and `amber-framework` :+1:

[2018-05-21 00:37] jaysneg commented on #805
@faustinoaq

[code]

this method did not work correctly

[2018-05-21 00:56] jaysneg commented on #805
@faustinoaq i can ask it at  StackOverflow but does it make sense if it bug?

[2018-05-21 01:00] faustinoaq commented on #805
I don't think this is a bug, but just design decisions, /cc @eliasjpr

[2018-05-21 05:10] yorci opened #806 "Views macro enhancement"
### About What?

I think Amber's view system need to improvement for flexible blocks such as Rails [content_for - yield](http://guides.rubyonrails.org/layouts_and_rendering.html#using-the-content-for-method) ( Kemal already have that [feature](https://github.com/kemalcr/kemal/blob/master/src/kemal/helpers/macros.cr#L38) ), for the better example Laravel's [Blade](https://laravel.com/docs/5.6/blade

[2018-05-21 07:58] jaysneg commented on #805
@faustnoaq if it’s feature it better add to docs.
I spand time to understend how to get hash of arrays of params it is not obviouse that you need use ‘request.raw_params.fetch_all(“brand[]”)’ to get {“brand[]” => [“brand1”, “brand2”, ....]}

[2018-05-21 08:00] zenny opened #807 "Error: amberframework installation fails under crystal installed with asdf-crystal"
Hi,

With crystal installed with asdf-crystal (https://github.com/marciogm/asdf-crystal) plugin, amber fails to build at 'shards install':

[code]
Even created a request to asdf-crystal developer to create a similar plugin at https://github.com/marciogm/asdf-crystal/issues/13.

Cheers,
/z

[2018-05-21 09:28] yorci commented on #806
#808

[2018-05-21 10:45] zenny opened #809 "Bug: ubuntu 18.04 amber intstallation"
HI,

In ubuntu 18.04, amberframework fails to build with the openssl issue:

[code]

But builds fine in ubuntu 16.04.

[2018-05-21 11:52] faustinoaq commented on #805
@jaysneg Yeah, I think we can add more documentation on [Request & Response](https://amberframework.gitbook.io/amber/guides/controllers/request-and-response-objects) section :sweat_smile:

![screenshot_20180521_065134](https://user-images.githubusercontent.com/3067335/40306198-680140e2-5cc3-11e8-9d04-c9cf80d8865a.png)

We have an **Edit on Github** button now, so feel free to contribute opening mo

[2018-05-21 11:55] faustinoaq commented on #807
Hi @zenny

Try `shards install --production` and `shards build -v`

Then copy `bin/amber` to your `/usr/local/bin` path

[2018-05-21 12:07] jaysneg commented on #805
cool

[2018-05-21 12:34] faustinoaq commented on #809
@docelic Are you using ubuntu 18.04, Did you have a similar issue?

@zenny I think amber guides are a bit outdated, so the dependencies may be changed, if you found a fix for this, please feel free to contribute with [Guides/Installation](https://amberframework.gitbook.io/amber/guides/installation)

![screenshot_20180521_073354](https://user-images.githubusercontent.com/3067335/40307729-52da00ae-5

[2018-05-21 13:25] docelic commented on #809
@faustinoaq never seen that issue myself.

[2018-05-21 13:33] faustinoaq commented on #809
@docelic Maybe we should update dependencies in amber guide, see: [Installation for Debian & Ubuntu](https://amberframework.gitbook.io/amber/guides/installation#for-debian-and-ubuntu)

[2018-05-22 20:17] #805 closed

[2018-05-23 13:17] faustinoaq commented on #273
Amber is fast, although Amber is still slow compared with "things" like h2o or ulib :sweat_smile:

A very interesting comment here: https://github.com/TechEmpower/FrameworkBenchmarks/pull/3751#issuecomment-390055572

- fully asynchronous database commands
- the program never blocks unless absolutely necessary
efficient load balancing among the worker threads with `SO_REUSEPORT`
- this is especiall

[2018-05-23 16:17] robacarp commented on #807
I would guess this is a problem with the crystal asdf plugin. The error is here:

`/usr/bin/ld: cannot find -levent` which is a problem with how the Crystal dependency on libevent is specified.

[2018-05-23 16:17] #807 closed

[2018-05-23 22:44] docelic commented on #776
The changes needed in the "citrine-i18n" shard have been made:
https://github.com/amberframework/citrine-i18n/commit/dad0ce33a2479ffee7ff2f44c25dbde9dfa8ce91

Now the other remaining part is to slightly modify the t() and l() helpers within Amber.

[2018-05-26 18:20] faustinoaq opened #817 "Generate specs for Crecto"
### Description

Currently `amber new app -m crecto` doesn't generate specs

You can see there isn't spec folder on https://github.com/amberframework/amber/tree/master/src/amber/cli/templates/model/crecto/src/models

### Steps to Reproduce

1. `amber new app -m crecto`
2. `crystal spec`

**Expected behavior:** Execute controllers and models specs based on crecto

**Actual behavior:** Error fixed b

[2018-05-27 15:48] #799 closed

[2018-05-27 15:54] drujensen commented on #273
@faustinoaq this is great news and I'm interested to find out what changed in the Benchmarks that finally fixed this.  @elorest and I knew that our local testing showed way better results than earlier rounds but we couldn't pinpoint why.

I think we can finally close this issue.

[2018-05-27 15:54] #273 closed

[2018-05-27 15:59] drujensen commented on #343
Closing this issue since we are using gitbook now.

[2018-05-27 16:00] #800 closed

[2018-05-27 16:11] #776 closed

[2018-05-27 16:17] faustinoaq opened #819 "Move src/locales to config/locales like Rails"
### Description

Currently locales are on `src/locales` would nice to follow Rails convention here and move this folder to `config/locales`

### Steps to Reproduce

Not applicable

### Versions

Amber master (https://github.com/amberframework/amber/commit/975dc592b9fd40f94d6cff1c5d34512283d01fd0)

### Additional Information

Related comment here: https://github.com/amberframework/amber/pull/814#is

[2018-05-27 21:33] RX14 commented on #273
I think it's just the change in hardware

[2018-05-28 19:29] faustinoaq opened #827 "Parsing Error: The -m option must be one of granite, crecto."
### Description

I'm trying to implement Jennifer Recipe, I got this error when I tried to execute:

[code]

Would be nice to print just a warning and use the given model even if this doesn't exist, this can be very useful to support new models/ORMs with recipes.

### Steps to Reproduce

1. `amber new app -d sqlite -t slang -m jennifer`

**Expected behavior:** Print a warning and generate files

*

[2018-05-29 13:13] faustinoaq opened #829 "Request Status code is not being printed"
### Description

The request status code is being logged if request is `200` or `404`, see: https://github.com/amberframework/amber/blob/f115a932c89dbe66a51ffa0bce748e2da75c1dfd/src/amber/pipes/logger.cr#L52

So, if request code is different you get this:

[code]

(See empty `Status:`)

### Steps to Reproduce

1. create a new amber app
2. request something with different status code (no `200` nor

[2018-05-29 14:17] drujensen commented on #827
@faustinoaq I don't understand your expected behavior.  If we don't support `-m jennifer`, why would it continue generating the app?  This would be considered an invalid option, correct? Why would it continue generating code?

It seems like the current behavior is the expected behavior.  What am I missing?

[2018-05-29 23:35] redcodefinal opened #831 "Calling "g scaffold" multiple times on the same model adds multiple items to views/layouts/_nav"
### Description
Calling `amber g scaffold` on the same model multiple times will add mutliple menu items to `views/layouts/_nav`

### Steps to Reproduce

1. Make a new amber project, set up db, etc.
2. `amber g scaffold ImAModel name:string`
3. `amber g scaffold ImAModel name:string`
4. `amber watch`
5. Visit `127.0.0.1:3000`
6. Should be multiple of the same menu item in the header menu.

**Expec

[2018-05-30 12:15] Rojo commented on #809
@zenny @faustinoaq I had this same issue.

It was resolved following the advice of installing dependencies with [`apt buildep nginx`](https://github.com/amberframework/amber/issues/487#issuecomment-356044099) . Some of these have the missing files required for compiling.

[2018-05-30 19:12] faustinoaq commented on #809
@Rojo Oh, nice :+1: , maybe we should update [Installation guide](https://amberframework.gitbook.io/amber/guides/installation) or add a new section on [Amber troubleshooting](https://amberframework.gitbook.io/amber/troubleshooting), WDYT?

[2018-05-31 05:35] Rojo commented on #809
@faustinoaq It would be nice to identify which of those packages are the required ones and add them to the guide, 'cause the build dependencies for nginx are a lot. But, since it is a workaround, I think a troubleshooting note at the installation instructions, that points to this particular error, would do.

[2018-05-31 09:35] imdrasil commented on #827
@faustinoaq I'm not sure if this is a good idea. I believe in future there will be recipes which provide only part of functionality (instead of full application setup) and then an opportunity to specify model will be necessary.

[2018-06-01 08:20] rishavs commented on #375
One of the most important tasks to do, IMO is to create an Amber [Realworld](https://github.com/gothinkster/realworld) app and write a step by step tutorial for it. I usually work in the JS ecosystem and I rely a lot on the realworld apps. This app essentially covers every major aspect of creating a webapp using Amber.

[2018-06-01 08:31] rishavs commented on #322
as in `sudo shards install`?

[2018-06-01 08:47] rishavs commented on #322
To add, `crystal deps build amby` is also failing. Not sure is this helps, but my root folder and webapp have different name. My root folder is called `diggamer` and the app itself is called `amby`

[2018-06-01 09:36] faustinoaq commented on #322
This error seems to be related to https://github.com/crystal-lang/crystal/issues/5831

/cc @obskyr, @straight-shoota, @ysbaddaden @RX14

[2018-06-01 10:06] faustinoaq opened #833 "Wrong link on amber new --help"
### Description

`amber new --help` outputs:

[code]

https://amberframework.org is not a direct link to recipe documentation, we should use https://amberframework.gitbook.io/amber/cli/recipes instead.

### Steps to Reproduce

1. `amber new --help`

**Expected behavior:** See direct link to recipe docs

**Actual behavior:** See amber main website link on recipe flag help

**Reproduces how often:**

[2018-06-01 11:20] rishavs opened #834 "Github flagging hapijs for vulnerability"
We need to update the package.json version for hapijs to escape this notification.

![image](https://user-images.githubusercontent.com/1210239/40838444-d2bdae88-65bb-11e8-86d8-dc0ad05bc656.png)

This is in the Amber CLI (amberframework.org) - v0.7.2

[2018-06-01 23:17] faustinoaq opened #835 "Add CHANGELOG.md"
### Description

Crystal has a pretty nice [CHANGELOG.md](https://github.com/crystal-lang/crystal/blob/master/CHANGELOG.md), would be nice to create one for amber from version 0.1.0 to 0.8.0:sweat_smile:

### Steps to Reproduce

Not applicable

### Versions

Not applicable

### Additional Information

Not applicable

[2018-06-04 22:39] straight-shoota commented on #322
`shards install` shouldn't be run with `sudo`.

@rishavs This is an entirely different problem, please open a new issue for this. But as @faustinoaq stated, it's probably about incorrect line endings. Does your git config automatically force convert line endings to CR or something? (`git config core.autocrlf`)

[2018-06-05 11:33] rishavs commented on #322
Hi @straight-shoota The problem was indeed due to incorrect line ending. My text editor was set to CRLF.

[2018-06-09 20:46] faustinoaq opened #840 "Split TFB tests and add more use-cases"
### Description

Hi amber community!

Recently I have been reviewing latest TFB tests (https://tfb-status.techempower.com) and I notice all fastest frameworks (JVM and .NET ones) have many individual tests and use-cases, so they have more possibility to be in top ten.

What I propose is:

1. Add individual tests for json and plaintext like `amber-plaintext` and `amber-json` (no DB here)
2. Add ind

[2018-06-10 11:50] faustinoaq opened #841 "@wait_for command on docker-compose.yml doesn't work"
### Description

We're using `@wait_for` to wait for database on `docker-compose.yml`, although, this command doesn't work as expected.

https://github.com/amberframework/amber/blob/ce6dec47a0e3c8fe6863a10819d0591700dd4813/src/amber/cli/templates/app/docker-compose.yml.ecr#L2-L6

I'm getting this error with a working database on port `5432`

[code]

I guess checking database port  is not very reli

[2018-06-10 12:14] faustinoaq opened #842 "Add more Frameworks to Benchmarks"
### Description

Is a bit unfair to have Hanami with 0RPS in latest TFB Round 16: (default test: Fortunes)

![screenshot_20180610_070847](https://user-images.githubusercontent.com/3067335/41201416-1ff09da6-6c7d-11e8-8821-778c37764a90.png)

I'd suggest to remove Hanami temporally and add more Ruby-like/Nice-designed frameworks to Benchmark section on README page.

![screenshot_20180610_070757](http

[2018-06-10 12:15] faustinoaq commented on #842
Link here: https://www.techempower.com/benchmarks/#section=data-r16&hw=ph&test=fortune&f=hq0ycn-yy9kvz-zih7gf-zik0un-m6h1j3-xan9xb-yelnge-2c9vh

[2018-06-10 13:15] faustinoaq opened #843 "Update Amber Docslinks"
### Description

We're using https://docs.amberframework.org/amber/ now :tada:

We need to update all old https://amberframewotk.github.io/amber to this new url

### Steps to Reproduce

No applicable

### Versions

Amber master (https://github.com/amberframework/amber/commit/ce6dec47a0e3c8fe6863a10819d0591700dd4813)

### Additional Information

None

[2018-06-13 04:09] sam0x17 commented on #320
I like the idea of having this in the request as well, as that would make it trivial to make subdomain-specific routes

[2018-06-13 14:10] DmytroStepaniuk commented on #380
Well. The issue still exists in 0.7.2 🤔

[2018-06-13 14:15] faustinoaq commented on #380
@DmytroStepaniuk Can you try amber master?

[code]

[2018-06-13 14:17] DmytroStepaniuk commented on #380
@faustinoaq

I've changed `stard.yml`

to this one

[code]

and everything works fine. But, anyway, thats kinda strange 🤔

[2018-06-13 14:23] DmytroStepaniuk commented on #380
Maintainers! It would be great to release the fix
Issue isn't closed - stop the mission 😂

[2018-06-13 14:32] faustinoaq commented on #380
@DmytroStepaniuk Yeah, we're preparing a new release :wink:

[2018-06-13 15:10] robacarp commented on #841
I'd recommend using something like [wait-for-it.sh](https://github.com/vishnubob/wait-for-it)

[2018-06-13 16:35] #829 closed

[2018-06-14 12:45] faustinoaq commented on #834
#825 is already merged :tada:

[2018-06-14 12:45] #834 closed

[2018-06-14 14:15] #767 closed

[2018-06-14 14:15] #768 closed

[2018-06-14 14:15] #769 closed

[2018-06-14 14:16] eliasjpr commented on #756
Closing this issue since we will be removing amber deploy

[2018-06-14 14:19] eliasjpr commented on #773
Closing this issue since this we agree that this should live in its own shard

[2018-06-14 14:19] #773 closed

[2018-06-14 14:20] eliasjpr commented on #751
Closing this issue since it was address in https://github.com/ChangJoo-Park/amber/commit/520afc7eeee766241e4793737172e71224505786

[2018-06-14 14:20] faustinoaq commented on #767
@eliasjpr We still need the right documentation to deploy to AWS, maybe we can open an issue on docs repo, WDYT?

[2018-06-14 14:20] faustinoaq commented on #768
@eliasjpr We still need the right documentation to deploy to Azure, maybe we can open an issue on docs repo, WDYT?

[2018-06-14 14:20] faustinoaq commented on #769
@eliasjpr We still need the right documentation to deploy to GCE, maybe we can open an issue on docs repo, WDYT?

[2018-06-14 14:21] eliasjpr commented on #750
@damianham @amberframework/contributors I believe this has been addressed already, if yes let's close this issue

[2018-06-14 14:21] #750 closed

[2018-06-14 14:22] eliasjpr commented on #747
@docelic Was this addressed?

[2018-06-14 14:22] faustinoaq commented on #751
@eliasjpr No, this is not solved yet, the @ChangJoo-Park PR was about Bootstrap 4 update, no responsive design was added :sweat_smile:

[2018-06-14 14:30] faustinoaq commented on #747
@eliasjpr Yeah, this was already solved, we kinda fix this using a bunch of hacks (`{{"  "}}` to keep indentation), although they work pretty well.

We're already checking formatting on generated templates in both, recipes and amber repo :tada:

[2018-06-14 14:31] #747 closed

[2018-06-14 14:32] faustinoaq commented on #756
@eliasjpr `amber deploy` still requires to be removed, I'm already working on that :+1:

[2018-06-14 14:42] damianham commented on #750
@faustinoaq yes we can shift to a shard based implementation.  I have implemented a shard based recipe fetcher but I still need to work out how to integrate plugins, other generators (e.g. auth) and also hierarchical recipes.  At the moment I bootstrap an app recipe from a github shard for an app called myapp into myapp/.recipe and return the location of the template in that folder.  So I still ne

[2018-06-14 14:57] faraazahmad commented on #751
What else is remaining?

[2018-06-14 16:28] faustinoaq commented on #751
@faraazahmad Wee still need to fix navbar on small screens (maybe using a menu) and change forms/tables/grids to be responsive :sweat_smile:

![screenshot_20180412_100434](https://user-images.githubusercontent.com/3067335/38686001-e88ab4ae-3e38-11e8-9236-223d6f35322b.png)

Welcome page need some responsive design as well:

![vokoscreen-2018-04-12_10-08-21](https://user-images.githubusercontent.com

[2018-06-14 16:38] faustinoaq commented on #751
I really like DO responsive design on navbar :heart_eyes:

![vokoscreen-2018-06-14_11-30-46](https://user-images.githubusercontent.com/3067335/41425532-a9d74c44-6fc6-11e8-861e-6330139df1b8.gif)

Also Xamarin Website has a nice example:

![vokoscreen-2018-06-14_11-36-18](https://user-images.githubusercontent.com/3067335/41425770-5117284e-6fc7-11e8-8239-002a1c935715.gif)

[2018-06-14 16:45] faustinoaq commented on #751
Wait a second, @eliasjpr @faraazahmad Did #746 handle responsive design?

I thought we gonna include responsive design changes in a new PR, see: https://github.com/amberframework/amber/pull/746#issuecomment-380871659

[2018-06-14 17:08] faraazahmad commented on #751
I did include a navbar toggler in the navbar
https://github.com/ChangJoo-Park/amber/commit/520afc7eeee766241e4793737172e71224505786#diff-27c02ac58eb853fd811dff723dbfc36d

[2018-06-14 17:12] ylluminate commented on #343
Hmm, but what does this translate into guys? I'm still not clear and https://github.com/nanobox-io/nanobox-engine-crystal has, as of yet, to get any input and so the Nanobox folks appear to be at a standstill...

[2018-06-14 17:29] faustinoaq commented on #751
@faraazahmad Oh, nice!, thank you so much!

I guess we need to open a new PR including your changes because I can't see them on master :sweat_smile:

https://github.com/amberframework/amber/blob/ddcb6f26835cc84a67f2d50a074ed17d8dc4d81f/src/amber/cli/templates/app/src/views/layouts/application.ecr.ecr#L14-L16

[2018-06-14 17:30] faustinoaq commented on #343
@ylluminate You're rignt we still need to add some documentation here: https://docs.amberframework.org/amber/deployment

[2018-06-14 17:42] ylluminate commented on #343
Okay, thanks for the clarification @faustinoaq. Also we probably need to contribute to the Nanobox docs themselves as first noted in order to both get finalization, more visible recognition of Crystal and its frameworks such as Amber, and catch any issues that need to be resolved for them to actually facilitate deployment. Seems like they're not responsive to the Trello issue now, but they also ar

[2018-06-16 06:12] lucifer1004 opened #847 "Incompatible with Crystal 0.25.0"
### Submitting questions

Current Amber seems to be incompatible with the newly released crystal 0.25.0

### Description

After installing crystal 0.25.0 on MacOS X 10.13.5, the amber project which ran successfully with crystal 0.24.2_1 failed to start.

### Steps to Reproduce

1. create a new project following the [https://docs.amberframework.org/amber/getting-started/quick-start](Quick-Start gui

[2018-06-16 11:12] faustinoaq commented on #809
@lcdss Yeah, see #826

[2018-06-16 14:03] robacarp commented on #847
Thanks for the bug. We are tracking this in #826

[2018-06-16 14:34] eliasjpr opened #848 "Redirect with Controller param as String"
### Description

When trying to redirect using `redirect_to controller: "post", action: :index, flash: { "success" => "Created Post successfully." }` redirection fails due to type error.

### Error

[code]

PS - I am working on a fix for this

[2018-06-16 15:18] eliasjpr opened #851 "[CLI] Cleanup Scaffold Generator Granite/Crecto"
### Description

Clean up scaffold generator using Granite new features

### Example

[code]

### Alternatives

- Render can accept a `flash` param, this will. allow to have even thinner controller

[2018-06-16 15:51] eliasjpr opened #853 "[Shard] Update Teeplate Shard to 0.6.1"
### Description

Teeplate shard is out of date current shard version is v0.5.0. Crystal 0.25.0 has change the `File` api and drop support the `stat` method and replaced with `info`

Amber spec are currently are failing because of this
`lib/teeplate/src/lib/file_tree/macros/directory.cr:33: undefined method 'stat' for File:Class`

[2018-06-16 16:01] faustinoaq commented on #853
Fixed on #826

[2018-06-16 16:01] eliasjpr opened #855 "[TravisCI] Run Travis in Supported Crystal Version"
### Description

Travis should run in the current support version of Crystal until we add support for Crystal v0.25.0

[2018-06-16 16:14] eliasjpr commented on #853
Closing this in favor of #826 and #857

[2018-06-16 16:14] #853 closed

[2018-06-16 16:16] faustinoaq opened #858 "Unexpected behavior on Cluster mode"
### Description

If I run an amber app with `process_count: 2` I get 3 processes. This is unexpected :sweat_smile:

### Steps to Reproduce

1. Run an amber app with `process_count: 2` in background (ex: using a service)
2. use `ps aux` to see how many app processes are forked

**Expected behavior:** 2 processes are forked

**Actual behavior:** 3 processes are forked

**Reproduces how often:** 100%

[2018-06-16 16:20] eliasjpr commented on #855
See https://github.com/crystal-lang/crystal/issues/5449 😞

[2018-06-16 16:20] #855 closed

[2018-06-16 19:23] AizuddinBadry opened #867 "Cant get basic apps running"
### Submitting questions

- If the question is something like "how do I do X?", consider using [StackOverflow](http://stackoverflow.com/questions/tagged/amber-framework)
- If the question is specific to another shard, please post an issue to the shards issue tracking system.

### Description

Hello, i've tried to start basic amber apps. However i cant' get it success for some reason. Below is the

[2018-06-16 19:32] faustinoaq commented on #867
Hi @AizuddinBadry this is a duplicate of #847

We're already working on fix this, please see #826

[2018-06-16 19:33] faustinoaq commented on #867
Please, try using crystal < v0.24.2 :sweat_smile:

[2018-06-16 19:39] AizuddinBadry commented on #867
Omg. Sorry for duplication issues. How can i change crystal version ?

[2018-06-16 20:11] faustinoaq commented on #867
@AizuddinBadry don't worry :sweat_smile:

Try `brew install amber@0.7.2`

[2018-06-16 20:52] faustinoaq commented on #770
Fixed by #864

[2018-06-17 02:58] AizuddinBadry commented on #867
@faustinoaq i cant install amber@0.7.2.

I got this error from homebrew

`Error: No available formula with the name "amber@0.7.2"
==> Searching for a previously deleted formula (in the last month)...
Error: No previously deleted formula found.
==> Searching for similarly named formulae...
==> Searching local taps...
Error: No similarly named formulae found.
==> Searching taps...
==> Searching taps

[2018-06-17 08:48] faustinoaq commented on #867
@AizuddinBadry Sorry my bad, I meant `brew install crystal-lang@0.24.2` :sweat_smile:

[2018-06-17 09:44] kliron commented on #867
Anyway, for anyone having to downgrade (btw Kemal has similar issues with crystal 0.25), just download 0.24.2 from [https://github.com/crystal-lang/crystal/releases](https://github.com/crystal-lang/crystal/releases).

I'm on a mac so I did:

`brew uninstall crystal-lang`
`curl -L -O https://github.com/crystal-lang/crystal/releases/download/0.24.2/crystal-0.24.2-1-darwin-x86_64.tar.gz`
`tar xvf cry

[2018-06-18 05:39] set commented on #867
@kliron getting "/usr/local/bin/crystal no such file or directory" error after your proccess. please help me :)

[2018-06-18 05:55] kliron commented on #867
@set are you on macOS or linux? The /usr/local/bin is a mac convention, on linux you might need to link somewhere else. You can even just update your $PATH variable to include crystal's /bin directory wherever you have extracted the tarball.

[2018-06-18 05:58] set commented on #867
I'm on macOS, I don't understand why.

[2018-06-18 06:04] kliron commented on #867
The paths I wrote above are just an example. If you don't have an 'opt' directory in your $HOME it won't work. Just extract the crystal-0.24.2-1.tar.gz file somewhere and then link with:

`ln -sf /full/path/to/where/you/extracted/crystal-0.24.2-1/bin/crystal  /usr/local/bin/crystal`

If you do `ls -l /usr/local/bin/crystal` it should point to the original location. /usr/local/bin/crystal is just a

[2018-06-18 06:11] set commented on #867
@kliron crystal 0.25 was successfully working on my mac, I want change version from 0.25 to 0.24.2 for amber not working. I make your says, but something is going wrong.

[2018-06-18 06:14] kliron commented on #867
@set Have you uninstalled crystal-lang (the homebrew 0.25 version)?
Could you show me the exact commands you are using?

[2018-06-18 06:16] kliron commented on #867
@set since this is unrelated to this thread, could you just mail me instead? So that we don't spam this thread.

[2018-06-18 06:43] set commented on #867
@kliron I send mail in your profile address.

[2018-06-18 09:52] set opened #871 "Postgresql Connection Error"
How can i fix this problem?`
[code]

[2018-06-18 10:00] set commented on #871
OK, I didn't create a superuser, I'am new on macOS :)

[2018-06-18 13:08] #871 closed

[2018-06-18 16:06] katafrakt opened #872 "Far too many database connections while stress testing"
### Description

I found a really weird behaviour while I was stress testing my application in production mode, however it is reproducible in development mode. I'm using Crecto to connect to PostgreSQL and my database initializer looks basically as it was generated by amber:

[code]

My database url is set with `max_pool_size=5` and I'm using two processes in production mode. I tested the app with

[2018-06-18 19:53] faustinoaq commented on #872
Hi @katafrakt Thank you for report this issue?

@fridgerator Is this just related to Amber+Crecto or Crecto in General?

[2018-06-18 20:54] fridgerator commented on #872
I'm not sure, I'll have to play around w/ it when I get time

[2018-06-19 00:39] fridgerator commented on #872
The same thing should probably be tested w/ Granite.

[2018-06-19 05:24] set opened #873 "How can i upload file?"
How can I upload an image or file in Amber?

[2018-06-19 14:53] faustinoaq commented on #873
This question has been asked multiples times recently, so  I just created a basic cookbook, please see:

https://docs.amberframework.org/amber/cookbook/file-upload

PS: Please use stackoverflow to ask questions about `amber-framework`, see:

https://stackoverflow.com/questions/tagged/amber-framework

[2018-06-19 21:22] #873 closed

[2018-06-20 06:11] conradwt opened #875 "[Proposal][CLI] Use complete database name for PostgreSQL"
I would like to recommend using complete database name when specifying the PostgreSQL database option:

replace

[code]

with

[code]

[2018-06-20 10:56] faustinoaq opened #876 "Views templates are not compatible with Crecto"
### Description

Hi I was testing Amber CLI this night and I realize the current scaffolding isn't compatible with crecto.

We're missing some `Repo` calls (using only Granite)

### Steps to Reproduce

1. `amber new app -m crecto`
2. `amber g scaffold Post content:text`
3. `amber watch`

**Expected behavior:** It compiles

**Actual behavior:** Doesn't compile (`.id` error)

**Reproduces how often:

[2018-06-20 11:00] faustinoaq opened #877 "Generate Amber executables using CI"
### Description

Currently we need to compile amber from source, would be nice to generate executables and include them on release page. (idea suggested by @conradwt)

### Steps to Reproduce

Not applicable

### Versions

Amber v0.7.2

### Additional Information

We can use something like Crystal (1) or Scry (2)

1. https://github.com/crystal-lang/crystal/releases
2. https://github.com/crystal-lan

[2018-06-20 17:13] conradwt commented on #877
@faustinoaq I was thinking that `master` branch would serve as the `main` line for the project aka the-source-of-truth.  Next, developers would always submit PR with associated tests in which the CI would process.  If everything builds successfully and all tests pass, the PR goes green and a manager can review, tag, and merge into `master` which CI generates an executable binary under the releases

[2018-06-20 17:18] faustinoaq commented on #877
@conradwt Interesting reference, maybe we should review some things on our release process,

By @elorest here: https://github.com/amberframework/amber/issues/759#issuecomment-381851226

---------------

My release process which is mostly scripted goes as follows.

1. Create release branch.
2. run `crelease 0.x.x` which does the following (https://github.com/elorest/CRelease)
  a. updates versions

[2018-06-20 17:18] faustinoaq commented on #877
/cc @eliasjpr

[2018-06-20 17:18] faustinoaq commented on #877
/cc @amberframework/contributors

[2018-06-20 19:34] faustinoaq opened #881 "Add asset_path helper"
### Description

An asset helper was tried to implement on #574

Amber have changed and now the PR have some big incompatibilitites

Also We're implementing #865 to fix #476

All these changes are great and I still think `asset_path("path_to_asset")` is a great idea, so I opened this issue to track this feature and open a new PR in the future.

### Steps to Reproduce

Not applicable

### Versions

[2018-06-21 12:18] faustinoaq opened #885 "Granite logs are disabled and still being printed"
### Description

I published a quick fix for crecto here: https://github.com/amberframework/amber/pull/816

That PR changed `spec_helper.cr` to a `spec_helper.cr.ecr` template to check granite database and disable logs using `<% if @model == "granite" %>`

However, for some reason this is still generating Granite logs, any idea?

I checked twice and `spec_helper.cr` is generated with the code to d

[2018-06-21 12:18] faustinoaq commented on #885
/cc @robacarp

[2018-06-21 17:47] #885 closed

[2018-06-22 15:47] eliasjpr commented on #848
Fixed #849

[2018-06-22 15:49] #848 closed

[2018-06-22 15:50] eliasjpr commented on #833
Fixed #836

[2018-06-22 15:50] #833 closed

[2018-06-22 15:51] eliasjpr commented on #835
Fixed with https://github.com/amberframework/amber/releases/tag/v0.8.0

[2018-06-22 15:51] #835 closed

[2018-06-22 15:52] eliasjpr commented on #817
Fixed #837

[2018-06-22 15:52] #817 closed

[2018-06-22 15:53] eliasjpr commented on #792
Tracking issue #269

[2018-06-22 15:53] #792 closed

[2018-06-22 15:54] eliasjpr commented on #269
Fixed #792

[2018-06-22 15:54] #269 closed

[2018-06-22 15:57] eliasjpr commented on #756
Amber Deploy command was removed

[2018-06-22 15:57] #756 closed

[2018-06-22 16:02] eliasjpr commented on #498
Any status on this?

[2018-06-22 20:18] faustinoaq opened #890 "Proposal for the MacPorts work"
### Description

By @conradwt on https://github.com/amberframework/amber/pull/879#issuecomment-399508039

### Steps to Reproduce

Not applicable (not a bug)

### Versions

Amber v0.8.0 (Yay! :tada: )

### Additional Information

What is MacPorts?

The MacPorts Project is an open-source community initiative to design an easy-to-use system for compiling, installing, and upgrading either command-line

[2018-06-22 20:35] faustinoaq commented on #876
Fixed on #850

[2018-06-22 20:35] #876 closed

[2018-06-22 20:37] faustinoaq commented on #770
#864 is not merged yet, still work in progress :sweat_smile:

[2018-06-22 20:44] faustinoaq commented on #867
Fixed by #857

[2018-06-22 20:44] #867 closed

[2018-06-22 21:00] faustinoaq commented on #498
@eliasjpr still an issue on amber, although crystal looks good :sweat_smile:

[code]

[2018-06-23 13:53] eliasjpr commented on #872
This might be a better issue for https://github.com/will/crystal-pg. WDYT?

[2018-06-23 13:54] eliasjpr commented on #872
Also for reference https://crystal-lang.org/docs/database/connection_pool.html

[2018-06-23 13:56] eliasjpr commented on #819
I don't see the added benefit, besides 3 rails conventions. I can swing either way with this.

[2018-06-23 14:05] eliasjpr commented on #778
I think this is a great Idea.

Some ideas for this would be to include action type check support so for instance if the action does not exists then it throws an error similar to the way Lucky does it.

[2018-06-23 14:07] eliasjpr commented on #778
This basically can introspect the controller action methods to generate the helpers dynamically. And maybe instead of creating methods for it we can create something more intuitive `User::New.with(:id)`

[2018-06-23 14:32] katafrakt commented on #872
@eliasjpr I think this is too low-level. From what I was able to debug, connection pools work fine, it's just that Crecto initializes many of them. So maybe I'll try to reproduce it in Amber-independent environment and will take the discussion to Crecto bugtracker.

[2018-06-23 15:30] eliasjpr commented on #343
We have to add documentation to the Nanobox guides. @ylluminate if you can take ownership of this task that would be of great help

[2018-06-24 06:07] conradwt commented on #819
@faustinoaq Is it also make a good idea to move the src/${project-name}.cr to the root of the project folder and rename to `config.cr`?  Then all the application specific files would be in the `src` directory and all the `Amber` specific files will be in the `config` directory.  In general, if `Amber` wants to standardize its layout based on Rails, this would definitely be a good time to do it pri

[2018-06-24 10:02] shobhitic opened #892 "Consistent code style for amber scaffolds"
### Description

I have generated multiple scaffolds and the one thing that I always change is the way methods are being called. Specifically `render` and `redirect_to`.

Everywhere, `render` is called using paranthesis :-

[code]
But `redirect_to` is called without using paranthesis :-

[code]
I've hunted down the issue and would like to fix it to use a consistent style.

Which is the preferred s

[2018-06-24 10:59] eliasjpr commented on #892
Thank you for pointing this out. You can proceed without paréntesis I think that’s the preferred way for the project.

[2018-06-24 11:41] faustinoaq commented on #892
Yeah, I think we don't have a code guide about calling methods/macros with/without parens

BTW, I found this about ruby: https://github.com/rubocop-hq/ruby-style-guide#method-invocation-parens

`render` without parens is ok :+1:

[2018-06-24 11:45] faustinoaq commented on #819
@conradwt Well, the main file inside `src/` folder is a crystal idea, by example, if you try to create an amber project from scratch without amber cli (1) you can use `crystal init app myapp` and a "main" file is automatically generated on `src/` folder and added to `shard.yml` target, so you can do `shards build myapp` to compile your project.

(1) https://docs.amberframework.org/amber/cookbook/f

[2018-06-24 12:56] eliasjpr commented on #819
@conradwt the `src/{project_name}.cr` is a crystal convention that we are supporting. As per the `src/locales` I understand that people are used to Rails convention but I don't the value that it brings by moving it outside, to me it does not make much difference and it works, for that reason I think this is not an **issue**.

[2018-06-24 13:02] eliasjpr commented on #819
@faustinoaq can you provide the added benefits of moving this to config/locales to the description of this issue so we can weight on if this is truly worth while.

One added benefit I see is:
- It seems that it would be easier to load translations from the config direction than from the source directory

[2018-06-24 14:19] faustinoaq commented on #819
I just realize this issue is not that important. I mean, `src/locales` is ok :sweat_smile:

Well, I think is the same, also any dev can setup the locales folder by modifying `settings.load_path += ["./src/locales"]` on `config/initializers/i18n.cr`

This is just an structure suggestion, maybe we should keep the current setup, WDYT?

BTW, also seems you suggested the `src/locales` folder :wink:

Re

[2018-06-24 17:50] shobhitic commented on #892
Without parenthesis it is then.

[2018-06-24 18:19] shobhitic commented on #892
Created a PR for scaffolds. I've actually found this at many other places in templates. Will keep sending PRs as I fix them.

[2018-06-24 20:43] conradwt commented on #819
@faustinoaq Coming from Rails 5.2, I would recommend that every folder within `src` should be loaded by default because it would be odd and this functionality would have to be documented in `Amber` docs.  Then developers will try to work around this by adding unrelated sources to auto-loaded  folders (i.e. models, controller, or others) to reduce the maintinenance.  One solution requires two edits

[2018-06-24 20:46] faustinoaq commented on #819
@conradwt Yeah I have also seen that on Django (apps), I think Amber doesn't support unbrella projects yet :sweat_smile:

[2018-06-24 20:54] #892 closed

[2018-06-24 20:59] conradwt commented on #890
Here's the current status:

# Dependencies

- https://github.com/crystal-lang/shards/pull/214

# Tasks

## Shards

- [x] updated Shards project  (i.e. sources and docs)

- [x] submitted PR to Shards project

- [ ] approved PR to Shards project

- [x] created the Shards Portfile

- [ ] submitted PR to MacPorts project

## Amber

- [ ] updated Amber project (i.e. sources and docs)

- [ ] submitted P

[2018-06-25 01:13] shobhitic commented on #790
Looks like this has been fixed. Should we close it?

[2018-06-25 13:54] shobhitic opened #895 "respond_with json method doesn't work"
### Description

I was trying to send a JSON response from controller, and so I used `respond_with` method and `json` method in the block. Compiler threw an undefined method error which looked like this :-

[code]

This is actually the documented usage as well, so I am not sure what could have been different about my code.

### Steps to Reproduce

1. Create an application and a controller where in

[2018-06-25 20:53] conradwt opened #896 "[Proposal] Add Code of Conduct"
## Proposal

Please add link on the `README.md` to the `Code of Conduct` which applies to `amber` repository and all of its subprojects' repositories (i.e. amberframework author).

## Examples

- [Rails](https://rubyonrails.org/conduct/)

- [Golang](https://golang.org/conduct)

[2018-06-25 21:28] faustinoaq commented on #896
@conradwt We already have a Code of Conduct, see:

Ref: https://github.com/amberframework/amber#community

Also here: https://docs.amberframework.org/amber/code-of-conduct

[2018-06-25 21:55] conradwt commented on #896
@faustinoaq Missed it as I was looking towards the bottom the page.  Closing this issue.

[2018-06-25 21:55] #896 closed

[2018-06-26 00:03] eliasjpr commented on #895
This seems to be intentional as the `"{}"` is a string see https://github.com/amberframework/amber/blob/master/src/amber/controller/helpers/responders.cr#L38 you might want to pass an empty Hash or Array.

[2018-06-26 00:13] faustinoaq commented on #895
@eliasjpr I think we can use method overloading instead of union types.

Something like this:

[code]

WDYT?

[2018-06-26 06:37] shobhitic commented on #895
My bad. I guess I can simply `JSON.parse(json_host.data)` here.

[2018-06-26 11:47] shobhitic commented on #778
@eliasjpr If we generate routes based on controller and action, and not based on the actual path, we will never be able to have a single action be accessible at two different paths.

[2018-06-26 12:11] eliasjpr commented on #895
@shobhitic you must do `JSON.parse("{}")` and it should work see https://play.crystal-lang.org/#/r/4eh5

[2018-06-26 12:15] shobhitic commented on #895
@eliasjpr Yes, I had done that, but it didn't compile without the `.to_json` method call.

[2018-06-26 17:13] faustinoaq opened #899 "--recipe flag doesn't work"
### Description

Ref: https://github.com/amberframework/recipes/issues/32

### Steps to Reproduce

1. `amber new app -r default`

**Expected behavior:** Create an app based on default recipe (or any recipe)

**Actual behavior:** Get an error output:

[code]

**Reproduces how often:** 100%

### Versions

Amber v0.8.0

### Additional Information

Looks like this is issue is due crystal `HTTP::Client

[2018-06-27 06:16] shobhitic commented on #778
@robacarp IMO, it's not the best default. Lots of times while refactoring, you tend to move an action from one controller to the other while keeping the path to access it same. Happens all the time while refactoring APIs because you can't change routes there. In situations like these, you'll have to change all the references to path, unlike in Rails where the path method is based on the path being

[2018-06-27 11:29] damianham commented on #899
I think we need to move to shards based install asap.

[2018-06-30 01:28] drujensen commented on #875
@conradwt maybe we can support both?  alias the `postgresql` to `pg` or vise versa.

[2018-06-30 01:41] conradwt commented on #875
@drujensen The reason why I mentioned this was because `pg` refers to `Proctor & Gamble` and their site is `us.pg.com`.  The site for `PostgreSQL` is `https://www.postgresql.org`.

[2018-06-30 02:23] lbmaxwell opened #904 "OpenSSL Issue Prevents 0.8.0 Build On Ubuntu - Following Amber Quick Start Guide"
### Description
Unable to build amber, apparently due to some issue with openssl1.1.0.

### Steps to Reproduce

bmaxwell@ubuntu01:~/Downloads$ date
Fri Jun 29 22:05:42 EDT 2018
bmaxwell@ubuntu01:~/Downloads$ crystal -v
Crystal 0.25.1 [b782738ff] (2018-06-27)

LLVM: 4.0.0
Default target: x86_64-unknown-linux-gnu
bmaxwell@ubuntu01:~/Downloads$ uname -a
Linux ubuntu01 4.15.0-23-generic #25-Ubuntu SMP

[2018-06-30 15:46] faustinoaq commented on #899
@damianham Yeah, please! `amberframework/recipes` is already a nightmare to maintain :sweat: Should we archive it?

I'm working in a Vue.js recipe, see: https://github.com/faustinoaq/vue-amber-recipe (not published yet)

I think is better to use recipes like this:

[code]

Just like heroku buildpacks, WDYT?

[2018-06-30 16:03] faustinoaq opened #905 "Unhandled exception on recipes with templates using .liquid extension"
### Description

Hi, I'm creating a Vue.js recipe https://github.com/faustinoaq/vue-amber-recipe (not published yet).

And I'm using `.liquid` extension for my recipe templates

![image](https://user-images.githubusercontent.com/3067335/42126826-5ad56038-7c53-11e8-81fe-b4e2fb5740bd.png)

### Steps to Reproduce

[code]

**Expected behavior:**

(should be fine using `.lqd` or `.liquid` extensions)

[2018-07-01 22:34] kolyaio opened #906 "Error when trying to run the app via docker"
### Description

When I trying to run the app via docker it failed.
It returns the message:
[code]

### Steps to Reproduce

1.  Run the command
[code]

**Expected behavior:** [What you expect to happen]

Serve the web app via docker on http://localhost:3000

**Actual behavior:** [What actually happens]
Returns the following error:
[code]
**Reproduces how often:** [What percentage of the time does

[2018-07-02 12:24] ZeroPointEnergy opened #907 "Class names for referenced classes not correctly capitalized"
### Description

When I scaffold a resource which has a reference to a class with more than one word as it's name it does not get capitalized correctly.

### Steps to Reproduce

1.  amber new someapp
2.  cd someapp
3.  shards install
4.  amber generate scaffold **SomeResource** sometext:text
5.  amber generate scaffold SomeOtherResource sometext:text **some_resource:reference**
6.  amber watch

**

[2018-07-02 13:45] drujensen commented on #907
We should support submodules in the generators as well:

`amber g scaffold Api/Post ...` or `amber g scaffold Api::Post ...`

A reference `api_post:ref` should map to `ApiPost`

A reference `api/post:ref` should map to `Api::Post`

wdyt?

[2018-07-02 23:08] cocodrino opened #908 "can't install on arch"
Hi, good day I'm trying to install amber in my arch (manjaro actually) using yaourt and fails, also I tried compile by hand following the instructions in the amber page, with the make command I get (in both cases the message is the same)

[code]

do you know what could be the issue here??? thank you so much

[2018-07-02 23:20] drujensen commented on #908
Looking at the api docs for Crystal 0.25.1 here  https://crystal-lang.org/api/0.25.1/File.html#info , you can see that there is a `File.info` class method.

What version of Crystal do you have?

[2018-07-03 01:52] cocodrino commented on #908
hi @drujensen   thanks for the fast answer, seems that would be an issue with my crystal version...I've crystal 0.24.2, this is the last version in the arch repositories, I'm installing crystal with homebrew now, hopefully I can install it...thanks

[2018-07-03 01:53] cocodrino commented on #908
by the way...how is the best way for manage versions and update crystal???

[2018-07-03 05:43] kolyaio commented on #906
@drujensen  Yeah I found it how can i fix it on the repository here ? where I can change the scaffolded files

[2018-07-03 10:59] set opened #911 "Cannot define value for integer column from session"
My post route method;
[code]

My Model;
[code]
and when I ``amber watch``command;
[code]
What is this?

[2018-07-03 14:49] drujensen commented on #911
@set It looks like you are trying to assign a `(String | Nil)` to a `(Int32 | Nil)` union type.  You will need to convert it to an `Int32` first.  Consider using `to_i` method on the `String` class.  Also, you will need to verify that its not `Nil`.

[code]

Here is the API documentation for `to_i`: https://crystal-lang.org/api/0.25.1/String.html#to_i%28base%3AInt%3D10%2Cwhitespace%3Dtrue%2Cunders

[2018-07-03 16:46] set commented on #911
@drujensen that's not working...
[code]

[2018-07-03 16:49] drujensen commented on #911
@set are you sure you checked for `Nil` first? If not, it will try to find the `to_i` method on `Nil` and this will throw an exception.

[2018-07-03 16:53] set commented on #911
This method not working if user not create session. Crystal not compiling project because "you haven't got session[:okulId]" but I'm not starting project for create a session.

[2018-07-04 09:03] faustinoaq commented on #908
Hi, I use https://github.com/pine/crenv by @pine :+1:

[2018-07-05 10:02] ZeroPointEnergy commented on #907
@drujensen The inflector seems to be capable of capitalizing api/post -> Api::Post correctly. At least in the _form reference field this would now work, but it obviously breaks in a lot of other places since the templates will use api/post as variable name. I guess this will take some work to get subclasses supported.

[2018-07-05 15:35] drujensen commented on #907
@ZeroPointEnergy yeah, I just wanted to point this out since we will want support for both eventually.  Thanks for your PR. 💯

[2018-07-05 22:54] eliasjpr commented on #819
@conradwt I believe the `src/locales` gets loaded by default since is required by the `src/{app}.cr` file, I haven't confirm but I almost certain.

Also im :100: with you about the apps being all self-contained in the `src` directory. We have an open issue about how to support modular apps #277

[2018-07-06 15:17] faustinoaq commented on #819
@eliasjpr Maybe we can follow @damianham approach on this, WDYT?, see: [Modular recipe](https://github.com/amberframework/recipes/tree/master/misc#modular) (BTW, I don't think we should use a recipe, but consider a modular structure like this)

See: [Why we should use external repos, instead of a monolithic repository](https://github.com/amberframework/amber/issues/899#issuecomment-401548851)

[2018-07-08 00:53] cocodrino commented on #908
thank you so much guys, after update crystal I was able to install amber...works great...thank you

[2018-07-08 00:53] #908 closed

[2018-07-08 20:36] faustinoaq commented on #908
BTW, you can use our AUR package as well, see: https://aur.archlinux.org/packages/amber/

[2018-07-09 22:34] conradwt commented on #890
@faustinoaq I was able to submit a PR to the MacPorts team.  However, it seems that the Amber CLI only needs a subset of the Amber web framework code.  Do you think that the `Makefile` installs too many `shards` for the CLI to work at this time?  For example, snippet from the installation of the `amber` port on my system:

[code]

What do you think?  This many only require a few tweaks to the `Mak

[2018-07-09 23:12] robacarp commented on #911
@set were you able to get a solution to your problem?

[2018-07-09 23:12] #907 closed

[2018-07-10 22:43] #911 closed

[2018-07-10 22:46] #847 closed

[2018-07-11 13:05] jimm opened #914 "Permissions Problem During Manual Installation"
### Description

I installed Amber on a Mac manually by downloading the tarball from Github and running `shards install` then `sudo make install`. The `sudo` is necessary because the `amber` binary is moved into `/usr/local/bin` which is owned by root. (I believe Homebrew changes the owner of `/usr/local/bin` but I don't use Homebrew.)

When I first ran `amber watch` it failed with the `you've fou

[2018-07-11 13:32] jimm commented on #914
### Additional Information

I use MacPorts, so when #890 is finished I won't have to install Amber manually.

[2018-07-11 16:23] set commented on #911
@robacarp you must define session in initialize. Session will not work If you created another controller.

[2018-07-11 22:49] hansy opened #915 "How to configure CORS"
Amber v0.8.0
Crystal 0.25.1

This might be a dumb question, but where and how do I initialize/configure CORS after enabling the CORS  pipeline (via `plug Amber::Pipe::CORS.new` in `config/routes.cr`? My browser is throwing the timeless "CORS header ‘Access-Control-Allow-Origin’ missing" error. Without me doing anything, doesn't the default initialization include the "*" Origin wildcard (which allo

[2018-07-11 23:14] drujensen commented on #915
@hansy the CORS pipeline requires `Origin` header.  You can see the `match` method here:
https://github.com/amberframework/amber/blob/master/src/amber/pipes/cors.cr#L120

So if you are using a curl command:
[code]

[2018-07-11 23:17] drujensen commented on #915
maybe we just move https://github.com/amberframework/amber/blob/master/src/amber/pipes/cors.cr#L123 above https://github.com/amberframework/amber/blob/master/src/amber/pipes/cors.cr#L120

[2018-07-11 23:17] robacarp commented on #914
@jimm if you do `make && sudo make install`, is there any difference in the ownership of those files?

My guess is that the .cache/crystal folder is what needed the chown?

[2018-07-11 23:28] hansy commented on #915
@drujensen Thanks for the quick reply! Yeah I saw it requires the Origin header; I'm sending the request through the browser, which automatically adds the Origin header (inspecting the request through the console confirms this).

Actually, your suggestion to try via curl helped me debug. The issue was:

[code]

I didn't realize `resources` requires a path (should be `resources "/fields"`), which w

[2018-07-11 23:33] drujensen commented on #915
@hansy glad to hear you found it.  We tried to match rails in several areas to keep the learning curve low but there are some differences especially in the router.

I still would like to refactor this.  I don't like the method named `any?` to match `*`.   I find that confusing.

[2018-07-11 23:33] robacarp commented on #915
@hansy I think this is something that can be improved with very little effort, thanks for pointing this out. Requiring a leading slash shouldn't be necessary.

[2018-07-12 02:42] jimm commented on #914
@robacarp your suggestion worked great: running `make && sudo make install` causes the permissions to be correct for the `.cache` files (owned by me) and the executable installation (owned by root). Why didn't I think of that much simpler solution instead of suggesting something much more complex? :-)

The `~/.cache/crystal` directory already existed before I installed Amber, so it was already own

[2018-07-12 16:24] ZeroPointEnergy opened #916 "Granite template creates wrong float type"
### Description

When generating a model with amber all fields created with the type float are templated as Float32. However, if we do a find on the model we get a Float64 back.

### Steps to Reproduce

[code]
**Expected behavior:** [What you expect to happen]

Lookup of the row succeeds.

**Actual behavior:** [What actually happens]

[code]

**Reproduces how often:**

Alwais

### Versions
Amber C

[2018-07-14 01:00] eliasjpr commented on #778
@robacarp I would suggest the above example as a start point, I believe if you want to define a custom path that should be more of a global path helper method.

I am also fine with the way Rails does this, but having some checks at compile time would be very beneficial this would avoid having dead URL paths in a large app.

[2018-07-14 01:07] eliasjpr commented on #819
This is out of scope. Amber strictly follow MVC the way rails does it if someone would like to structure their apps like the modular example you presented that is fine, but it is not part of the conventions Amber has set for the apps.

On another note, I do believe we should add support for a modular approach to mount another app like plugins. For now, I think this is not a big issue having the lo

[2018-07-19 19:44] tigernassau opened #918 "amber not building debian testing"
trying to install Amber on debian testing
crystal version 0.25.1
followed directions in quick start
seemed to get to linking then error
usr/bin/ld: OpenSSL::SSL::HostnameValidation:(.text+0x66d): undefined reference to `sk_pop_free'
collect2: error: ld returned 1 exit status
Error: execution of command failed with code: 1:

it first gave error and nice suggestion that we needed lz-dev - we install

[2018-07-27 13:47] kolyaio opened #919 "Error with webpack - images"
### Description

I put an image in the path `/src/assets/images/`
I'm using SCSS file to show the image in the background.
like that:
[code]

But in the final code it should import the file from `/dist/assets/images' instead.

But when I run the build it gives me the following error:
[code]

As I understand the Webpack default config should transfer the assets from the src folder into the dist fol

[2018-07-28 11:50] faustinoaq commented on #919
Hi @kolyaio try:

[code]

[2018-07-28 13:21] kolyaio commented on #919
Well that's really weird I tried it but it didn't work for me for some weird reason 👍  😕 😮

[2018-07-28 13:21] #919 closed

[2018-08-07 02:13] basilthegreat opened #921 "Adding some utilities to database management"
Hi,

I would like to propose a feature that I would like to work on if a green light is given. I wanted to propose something like adding a command to `amber generate` that would generate a micrate migration that would alter the table, adjusting it to the parameters of the new model file. Any input would be appreciated :)

Thanks

[2018-08-09 18:39] CristopherVidalMachado opened #923 ""Amber new [project_name]" generate a new project with wrong command into dockerfile"
Actualy, when generate a project with amber new [name], the docker file create a:

RUN crystal deps

But the correct is:

RUN shards

[2018-08-09 20:26] CristopherVidalMachado commented on #923
Issue fixed into the commit #922, thanks!

[2018-08-09 20:26] #923 closed

[2018-08-12 23:55] eliasjpr commented on #819
Maybe this can be closed?

[2018-08-12 23:56] eliasjpr commented on #831
Thanks for reporting this issue. It is a known issue and it would be great if someone can dedicate some time to prevent this from happening. Would you like to take on this task @redcodefinal?

[2018-08-13 15:50] robacarp commented on #921
@basilthegreat can you elaborate more on what you're looking for? I'm not sure I follow.

[2018-08-13 15:53] #819 closed

[2018-08-14 18:08] rishavs opened #927 "installation broken on Crystal v0.26"
### Description

I was trying to install amber and hit this issue at `make install`. I am on windows wsl and Crystl 0.26.
[code]

As per @Blacksmoke16 's comment; shell-table is broken for .26 due to not being allowed to have more than 1 argument for setter now

[2018-08-14 18:31] Blacksmoke16 commented on #927
https://github.com/jwaldrip/shell-table.cr/issues/2

[2018-08-15 14:26] paulcsmith opened #928 "Consider moving Homebrew package to custom tap"
Re:
https://gitter.im/crystal-lang/crystal?at=5b7431465762ee4fe57d1fde

The Amber homebrew package seems to be blocking Crystal releases. What do you think about removing the Homebrew package and using a custom tap instead? That way it won't block the Crystal release.

We've done this with Lucky and it has worked out well. It is one extra step (`brew tap luckyframework/homebrew-lucky`) but it is a

[2018-08-17 15:40] robacarp commented on #928
Resolved by https://github.com/Homebrew/homebrew-core/pull/31159 .

New tap is here: https://github.com/amberframework/homebrew-amber

[2018-08-17 15:40] #928 closed

[2018-08-17 23:13] #927 closed

[2018-08-20 23:48] cfsamson opened #936 "Amber quick start gives error on Crystal 0.26.0"
I was about to look into amber after only trying the quick start example some time back and it worked then, but this time it failed, so I tried to set up a new project but it failed with the error below that too:

Crystal 0.26.0 (2018-08-17)

LLVM: 6.0.1
Default target: x86_64-apple-macosx

macOS: 10.13.6

**Steps to reproduce:**
Follow the basic example here: [https://docs.amberframework.org/ambe

[2018-08-21 09:11] cfsamson commented on #936
Aha, well that explains a lot. Maybe there should be a notice about it somewhere until it's released? I couldn't find any concrete information about it in the issues or on the webpage (maybe I missed something).

I guess this would be rather difficult to find out for new users that now download 0.26 since that's now the default version via Homebrew and such, and Amber is on the top of google searc

[2018-08-24 13:17] robacarp opened #938 "Open Letter: Amber is significantly under-maintained"
Problem:

The bulk of @amberframework/core-team has been offline and unresponsive to the Crystal community. At least one member is understandably busy and intends to contribute further, but the rest have been absent without communication for most of 2018 if not much longer.

The effort to update Amber and the various dependant shards to Crystal 0.25 compatibility was almost entirely me, and 0.26 w

[2018-08-24 19:04] veelenga commented on #938
@robacarp I love Crystal and Amber, but currently out of free time.

Hope both projects will grow.

[2018-08-24 19:54] katafrakt commented on #938
@robocarp I'm very sorry to hear about the situation. My free time is not much currently (at least until the end of September) and my knowledge of Amber and Crystal is quite limited, but I'd like to help as much as I can. I should probably mention though that I totally don't use (and don't plan to) Granite, which is probably main selling point of Amber ATM.

[2018-08-24 20:00] drujensen commented on #938
@robacarp I have been focused mainly on granite (which I think needs the most attention) but even there I haven't been able to contribute much.  I do appreciate you taking up the mantel and I will try to carve out some time to help.

[2018-08-25 07:38] elorest commented on #938
I seriously intend to come back in the next few days and at least get it to
work well with the the latest crystal version.

On Fri, Aug 24, 2018, 8:21 PM astupidnerd <notifications@github.com> wrote:

[2018-08-25 14:38] Sija commented on #938
Lack of a free time is my biggest issue atm, but I'd love to contribute more and likely do so in upcoming weeks.

What I see is, that at this point in time Amber needs an overhaul - along with more-or-less detailed roadmap, which would IMO help in splitting work directly to the interested parties.

[2018-08-25 14:39] Sija commented on #938
That's been already done - `master` is working fine with Crystal 0.26.0.

[2018-08-25 15:06] marksiemers commented on #938
@elorest and @Sija - Can a release be cut? Anyone installing from homebrew (following the docs) will run into a show-stopping error until master is released and updated in the homebrew repo.

I'm not sure how much work it takes, but my understanding is that at this point it is all administrative - the code fixes are in.

@robacarp - Thanks for the reality check here. I started a new job in March a

[2018-08-25 15:11] Sija commented on #938
@marksiemers Good idea, there's a lot of lost momentum because of lack of compatible release atm. I can do it, if someone would add me to @amberframework team.

I'm curious too, @faustinoaq could you point some concrete cases?

[2018-08-25 15:27] marksiemers commented on #872
@katafrakt - Can this issue be closed here?

[2018-08-25 16:38] elorest commented on #938
Let's release this afternoon then. I guess we'll have to build our own home brew tap again? Let's also try to meet and do a video call. Would 5 PDT work to meet?

[2018-08-25 16:43] elorest commented on #938
@sija

Not quite sure what you mean by that. It was the constant rewriting of everything that already worked well combined with lack of time that burnt me out. Everyone in this thread has mentioned lack of time. Right now I just think we need to stay on top of bugs and a couple reasonable feature requests.

[2018-08-25 20:33] damianham commented on #938
In order for an open source project to remain current it usually needs to be sponsored by a commercial organisation.  I have been super busy with a new contract so I have had little time to work on my own amber based project never mind on amber itself.  Also I have to admit to a little bit of disillusionment over the perception that the Rails way is the right way and Amber MUST conform to the Rail

[2018-08-25 20:37] Sija commented on #938
@damianham re: microservices vs monolith architecture: I've recently came along [this article](https://segment.com/blog/goodbye-microservices/) from [Segment](https://segment.com/), which discusses real world cases of cons and pros of both. Some food for thought FYI, cheers!

[2018-08-25 20:49] grig191 commented on #918
It is becase of old libssl version, install libssl1.0-dev and it should be ok.

[2018-08-25 20:50] grig191 commented on #904
It is not related to amber, but installing `libssl1.0-dev` should fix the issue!

[2018-08-26 02:33] #906 closed

[2018-08-26 02:34] #915 closed

[2018-08-26 02:38] drujensen commented on #921
@basilthegreat You can create migrations using `amber g migration test` to create a new migration file.  Are you requesting something more?

[2018-08-26 02:41] drujensen commented on #875
@conradwt The driver we are using is called pg (`require "pg"`)so I think its appropriate to keep this consistent.  If someone creates a different `postgresql` driver, we can consider using its name instead.

[2018-08-26 02:41] #875 closed

[2018-08-26 02:45] #851 closed

[2018-08-26 08:03] grig191 commented on #918
@robacarp, maybe we can close this issue, because I was experiencing this in Ubuntu 18.04 with other shards, and installing `libssl1.0-dev` fixed the issue.

[2018-08-26 15:44] cfsamson commented on #938
I'm pretty new to Crystal and the community. I like it a lot and I'm amazed by the amount of quality work that's been put into everything. Sad to hear that it leans so much on some people to the point of exhaustion. The least I can do is say "thanks" and that I'm very thankful for all the work you guys have put into it and amazed on the quality of everything from examples, to docs and the webpage.

[2018-08-26 16:15] Thellior commented on #938
@cfsamson If i'm correct the latest stable amber is compatible with 0.26.0. It was released today

[2018-08-26 17:28] cfsamson commented on #938
@Thellior I didn't catch that. Nice timing 👍

[2018-08-26 22:17] eliasjpr opened #941 "State of Amber Framework"
To/all:

We are coming together to address Amber current status and to keep propelling this open source project to success.

### First: Thank You Everyone For Making Amber Possible

First, we want to thank all of you for dedicating your precious time to the project, Amber is one of the best, easy to work, faster to develop frameworks for the Crystal Language thanks to your contributions. Amber is

[2018-08-27 04:41] katafrakt commented on #872
@marksiemers Since we agreed that this is not really Amber issue, I think it can be closed now. If some new information comes up we can always reopen it.

[2018-08-27 04:41] #872 closed

[2018-08-27 05:49] rishavs commented on #941
I am very happy with the way you guys have reorganized the project focus. kudos to you all.
While I am not using Amber or Granite right now, anything that helps the Crystal community grow is good for us all.

[2018-08-27 13:26] #904 closed

[2018-08-27 16:26] #936 closed

[2018-08-27 17:31] girng commented on #938
@faustinoaq
![](https://thumbs.gfycat.com/TenseTenderHart-size_restricted.gif)

[2018-08-27 17:44] vladfaust commented on #938
It's all my opinion after a 1.5 years on Crystal, I don't intend to hurt anyone's feelings and I don't wrap my thought with polite thoughts, sorry for that. I love Crystal, and it's having a very good time now.

Building an app on a foreign foundation is always risky. Building an app on a gigantic foundation which follows Rails magic-blog-in-15-minutes concepts is even more risky because in case o

[2018-08-27 17:57] Sija commented on #938
@elorest @marksiemers Sorry for being vauge about before mentioned _overhaul_ - what I had in mind is: refactoring the hotspots and overall internal cleaning, which I believe would reduce amount of bugs and soften the ground for future contributors. That, along with fixing remaining bugs and docs update I believe would present a solid foundation for newcomers and future feature-expansion. Full-rew

[2018-08-27 18:06] elorest commented on #938
Now isn't the time to have the monolith vs "microlith" debate. Kemal is already a great framework to write micro services in. Amber on the other hand combines many things from elixir, rails and other frameworks. It isn't necessarily intended to be a monolith but like any framework you could write a monolith in it.

Amber is intended to allow building many common use cases very fast. It also pretty

[2018-08-27 20:39] wontruefree commented on #938
My contributions to this framework have usually come in when I am working with the project.  I have been focused on a none web server system for a while but I am about to start a web server for something and expect to contribute more.  Let me know if there is a core team meeting open to the public I would like to participate.

[2018-08-27 22:13] drujensen commented on #938
@vladfaust I know you deleted your feedback but I don't deem this as toxic at all.  This is the type of feedback we need.  I would love to hear your recommendations and contributions to make Amber better.

This is all true and exactly why I haven't recommended Amber (or any Crystal framework) for my own company projects.  The goal is to have a fully functioning framework available when Crystal bec

[2018-08-28 00:08] robacarp opened #942 "Reduce complexity by focusing amber generators on a single ORM?"
Amber generators ask _a lot_ of questions, and "which ORM are you using" is one of them.

In my experience with Rails, the only time I use generators is pretty early on in a project. Not everyone I talk to is this way, but I think it's true of most Rails developers.

I think it'd simplify the maintenance and growth of Amber to focus on providing for only one ORM in the generators, and providing do

[2018-08-28 00:14] elorest commented on #942
I'd definitely prefer granite. It's been a year since I made any major contributions to the ORM though so I'll let @drujensen weight in on that. Some people preferred crecto so @drujensen spent a weekend or so and added that. Should be pretty easy to remove if we're agreed on it.

[2018-08-28 00:14] elorest commented on #942
I'd definitely prefer granite. It's been a year since I made any major contributions to the ORM though so I'll let @drujensen weight in on that. Some people preferred crecto so @drujensen spent a weekend or so and added that. Should be pretty easy to remove if we're agreed on it.

[2018-08-28 00:53] paulcsmith commented on #938
Thanks for the thoughtful responses @drujensen and @vladfaust.

I agree that Crystal can work well with small frameworks like Prism (I’m a huge fan!) and bigger ones like Amber and Lucky. I personally prefer the batteries included approach, but smaller/modular is also great :+1:

I work for thoughtbot and one of our benefits is that we get every Friday as an Investment Day. I use this day to build

[2018-08-28 00:57] paulcsmith commented on #938
Also, I'm sure there will be questions about how Lucky is "prevent more bugs at compile-time". I've listed a few in the comments here https://github.com/crystal-loot/web-framework-comparison/issues/1

[2018-08-28 03:13] wontruefree commented on #938
Last I looked lucky seemed to really on macros a lot. I was not confident it would be performance enough for the application size I was targeting. That being said I have not really figured out how much amber uses but it seems like less.

[2018-08-28 04:01] drujensen commented on #938
@paulcsmith Unfortunately, we do not have the same goals. But let me be clear, I think this is actually a good thing.

Back in the day, I discussed with @sdogruyol about Kemal at the first Crystal Conference.  I let him know that I was working on Kemalyst.  We talked about our goals and it was clear he wanted Sinatra and I wanted Rails.   He wanted to build a super fast simple framework and I want

[2018-08-28 07:14] astupidnerd commented on #941
@eliasjpr I'm still sorta new to Crystal, and very new to Amber, but I think both of these things are amazing and I would love to see them succeed.

What is a good starting place for newcomers? How can I contribute?

[2018-08-28 09:03] Thellior commented on #942
I think supporting one is more efficient because we can guarantee that it's working properly. And i think granite is fine for that because it's under our banner

[2018-08-28 09:32] winhackua opened #943 "Missing and not a little important functionality: nested params"
### Submitting questions

it would be great if we implemented parsing nestled query,

### Versions
0.9

[2018-08-28 10:14] vladfaust commented on #938
That's a high level of communication goes right here. I liked the Rails / Sinatra analogue, so I'd stay with Roda myself. Yeah, @jeremyevans is my idol :smiley:

From my perspective, it's clear for me that Lucky tries to utilize Crystal type safeness at maximum, staying distinctive with syntax being different from Rails and, however, trying to cover all possible web-app things (ORM, e-mails, infle

[2018-08-28 11:32] ZeroPointEnergy commented on #938
Hi, so far I just used Amber in some small private project (which I'm too embarrassed about to link here for now :wink:) to explore Crystal and to see what it is all about and where the pain points are. I must say that Crystal and Amber both tick so many boxes for me personally when I think about the ideal language and framework that I can't help but get very enthusiastic about it.

I don't actual

[2018-08-28 13:25] paulcsmith commented on #938
This is a great question! I don't know how macros in Lucky v. Amber compare. I would guess they are similar, but I do not know. Someone did a compilation test with a few hundred routes, pages, and models and it was around 30s so I think it is within normal range for Crystal apps :) I would like to see if I can keep the same API with smaller apps. Keep in mind also that any template language like E

[2018-08-28 14:29] eliasjpr commented on #938
I have to say that this open letter was caused by the burnout of some of the contributors of the framework. Amber became a viable framework to be use in production in less than a year, this caused a lot burnout and frustrations etc. So we grew our team of core contributors so we can take a break and we did and now we are here again regrouping to continue to work on Amber.

And we are so thankful o

[2018-08-28 15:32] elorest commented on #938
Well said.

[2018-08-28 19:33] grig191 commented on #942
@drujensen, it is very simple, I appreciate all your (Amber core team ) work, but I like whole idea of Ecto, so I will not like this idea.
Anyways, I understand the complexity that is added by second ORM, but I should give you my feedback.
Of course I will use Amber further even if you will decide to remove Crecto support

[2018-08-28 19:39] grig191 commented on #942
I also agree with @Thellior opinion, definitely, whole team will pay more attention to just one ORM increasing efficiency and decreasing number of bugs, BUT in future ( when Amber will be much more popular and with bigger core team ) support of different ORMs is very nice feature

[2018-08-28 20:54] drujensen commented on #942
@grig191 Thanks, I'm glad it wasn't some other reason.

The hardest part of this proposal is choosing which ORM since both were started from Core members.  Supporting both was the solution we made when we merged Kemalyst with Amber.  I lean toward Granite because its my baby and it's under the amberframework umbrella now.  But I understand the reasons someone would lean toward the Ecto solution.

[2018-08-28 22:59] robacarp commented on #941
@astupidnerd contributions are always welcome, but [a collection of issues](https://github.com/amberframework/amber/issues?q=is%3Aissue+is%3Aopen+label%3Astatus%3Ahelp-wanted) is tagged help-wanted.

If you're not confident about the way to solve a problem or want to get some input before investing time in a bigger bugfix, the gitter chat is a great way to collaborate.

[2018-08-29 22:14] eliasjpr commented on #942
@drujensen @damianham maybe we can move the generators to an amber `recipe` so people can still use it just maintain it independently

[2018-08-30 00:10] fridgerator commented on #942
To me personally it doesn't matter much.  I guess what matters is how many users are using Crecto with Amber.

If Crecto isnt available as a template, how would a recipe for it be managed in another repo?

[2018-08-30 13:18] eliasjpr commented on #942
The community will be able to contribute freely to the generators via the recipes repo.

[2018-08-30 17:05] damianham commented on #942
I think the important thing is for the core team to agree on the way forward before anyone puts in the effort to do the work.  As @eliasjpr points out generators can be maintained by the community via recipes.  IMO this would be the best way to remove the complexity of support for multiple builtin ORMs.

My 2 cents would be;

* app, scaffolding, controller, model, migration generators in ORM speci

[2018-08-30 17:32] damianham commented on #938
@Sija I was primarily stating that modular applications and micro services are usually easier to develop and maintain than monoliths.  Because 1 company has issues doesn't mean we should all abandon modular and micro service architectures.  A monolith application can be modular - my beef is with the Rails way of doing things which becomes unwieldy with larger applications.  In my Amber project I o

[2018-08-30 17:34] paulcsmith commented on #938
@damianham I'd be interested to see the code or even a sample of one of your feature folders. My main concern around doing something like that is that I feel requiring files could get a little crazy, but maybe that's not actually the case in practice!

[2018-08-30 17:41] damianham commented on #938
@paulcsmith here is a listing of one of the feature folders
[code]
What is missing is a file to define routes for this feature.  I started this project before working on that PR.

[2018-08-30 17:46] paulcsmith commented on #938
I have a few questions, but I'll ask you on Gitter so I don't clog this up with a bunch of side conversation :) Thanks for sharing!

[2018-08-30 17:48] damianham commented on #938
config/application.cr
[code]
src/assets/javascripts/main.js
[code]
src/modules/ais/js/ais.js is a React component that gets loaded into a DOM element on 'DOMContentLoaded'

[2018-08-30 18:33] elorest commented on #938
@damianham Both micro and monolith applications have pros and cons. Some use cases would work better with one than the other. In many cases I've seen people abandon a monolith and rewrite as micro services only to realize a couple years later that they have many of the exact same problems.

A poorly written set of micro services is no better than a poorly written monolith. You've essentially just

[2018-08-30 20:47] elorest commented on #943
Json does allow for nesting.

https://github.com/amberframework/amber/blob/master/src/amber/router/params.cr#L57

For example `params.json(:user)` would return all of the nested information under `:user`.

[2018-09-04 17:30] blankoworld opened #947 "No Content-Type in response requests"
Today I find something that goes wrong between Nginx and Amber : Content-type! It seems that Amber don't return any Content-Type (for the default example while using amber new myapp).

In fact, when I use HTTPS, I activate : https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Content-Type-Options
I set it to "nosniff". Which imply that we need to return (in response) a Content-Type.

On gi

[2018-09-04 18:29] eliasjpr commented on #947
This is interesting cause the `content-type` header is set based on these tests         context.response.headers["Content-Type"].should eq "text/html"

[2018-09-04 20:53] eliasjpr commented on #947
I think I might have found the issue, not sure if you have but feel free to open a PR. I do not have time at the moment to fix this

[2018-09-05 08:19] blankoworld commented on #947
I have the time but not the skills ^_^. I search a little bit, but I didn't find what could be the problem. That's why I asked on the Gitter first.

I will search next days again. For now I'm busy ;)

[2018-09-06 13:49] eliasjpr commented on #947
I got you! @blankoworld I will be pushing a PR sometime today

[2018-09-07 16:18] #947 closed

[2018-09-09 04:33] drujensen commented on #641
@elorest can we close this?

[2018-09-09 04:36] #671 closed

[2018-09-12 13:29] eliasjpr commented on #943
@winhackua can you please elaborate more on this, we are considering enhancing this functionality and more detail will help to shed some light for an approach

[2018-09-13 19:18] acoustep opened #951 "Commented routes showing in CLI"
### Description

When commenting out a route and running `amber routes` the route still appears.

### Steps to Reproduce

1. Add `# get "/test", TestController, :index` to the `routes :web` block.
2. Run `amber routes`

**Expected behavior:** Route should not show in the routes table.

**Actual behavior:** Route shows in the routes table.

**Reproduces how often:**
As far as I can tell 100% of the

[2018-09-13 22:55] robacarp commented on #951
@acoustep yeah, the `amber routes` command is a bit of a clever hack to run quickly, it doesn't actually load and include the routes so much as it [parses the text content of the routes file](https://github.com/amberframework/amber/blob/master/src/amber/cli/commands/routes.cr#L47-L55).

I'm sure this would be a quick fix.

[2018-09-13 22:57] elorest commented on #951
Would be pretty easy to make it ignore lines with #.

[2018-09-14 18:02] #951 closed

[2018-09-16 14:15] proyb6 opened #953 "Upgrade project from 0.8.0 to 0.9.0"
I can see a few devs' repo using Amber 0.8.0 and I have modified to work use recently tags and in my struggle, granite is hard to debug. Is it recommend to upgrade?

Using Crystal 0.26.1 on macOS Mojave.

[code]

https://github.com/TheNocturneProject/nocturne
[code]

[2018-09-17 00:00] proyb6 commented on #953
I assume this is the correct code?
[code]
The ` backtick character is hidden in the ‘ key, you need to press and hold the key.

[2018-09-17 13:17] proyb6 commented on #942
I have in mind to suggest **memory*** as a database for quick demo/developments which is definitely useful those who are unfamiliar with Amber and educations.

[2018-09-17 14:15] eliasjpr commented on #942
@proyb6 sqlite3 offers something similar and is supported by the framework and most systems

[2018-09-17 14:27] proyb6 commented on #942
@eliasjpr It will be great as long as if any database is not installed/available, it will run on SQLite3 or memory database, could the  username and passwords be skip too? Perhaps, “demo” mode.

[2018-09-18 04:32] elorest opened #955 "Add remote_ip to request"
### Description

Many people have asked how to find the ip of the client as they so easily can in Rails.
Rails does it with this middleware. Would be super useful to Amber and I'm sure Lucky, and Kemal if this middleware was converted to crystal.

https://github.com/rails/rails/blob/5-2-1/actionpack/lib/action_dispatch/middleware/remote_ip.rb

[2018-09-27 04:03] Rojo opened #956 "npm ERR! missing script: watch"
### Description

Toying with the _Quick Start_ instructions I was bitten by this NPM error while trying to run `amber watch`.

Per harps it is only a Webpack configuration missing... ?

Anyway, it seems to prevent the project from being served.

### Steps to Reproduce

Follow the _Quick Start_ tutorial and try to serve the project with `amber watch`

### Versions

- Crystal 0.26.1
- Amber 0.9.0
-

[2018-09-27 04:11] Rojo commented on #956
This repo may be useful to replicate: https://bitbucket.org/akaiiro_projects/concept-amber-framework-quick-start/src/master/

[2018-09-27 06:33] Rojo commented on #956
@elorest Seems that my project was polluted with files from a previous version and it caused the conflict.

[2018-10-05 08:28] alexbottoni commented on #941
You have done a great work so far. Really impressive. Kudos!

In detail, I greatly appreciate the clean and modern design of the framework. It looks like that most of the lessons of Ruby on Rails, Sinatra, Django and other well-known frameworks have been learned and used. This makes Amber very modular and estensible (and readable/understandable).

At the moment, the main obstacle that keeps me fro

[2018-10-06 19:07] #781 closed

[2018-10-06 19:16] drujensen commented on #953
Sorry it took so long to respond:
[code]

[2018-10-06 19:16] #953 closed

[2018-10-08 20:56] firoxer commented on #955
I tried to do something about this but it turned out that Crystal is making things hard. As far as I understand Crystal provides no remote IP in the [Request](https://crystal-lang.org/api/0.26.1/HTTP/Request.html) object which would make it necessary to rely on headers such as `X-Forwarded-For`. Those, in turn, may not be reliable. There's some discussion about the matter in #534.

[2018-10-10 14:21] tleneveu opened #958 "Update to version 4 of Webpack"
### Description

Version 4 of Webpack brings many new features:

- faster
- different modes (production, development)
- And many more

[2018-10-14 02:33] drujensen commented on #921
Closing since no response.  Please reopen if there was something else you were envisioning.

[2018-10-14 02:33] #921 closed

[2018-10-14 02:38] #914 closed

[2018-10-14 02:45] drujensen commented on #895
Fix merged.  closing.

[2018-10-14 02:45] #895 closed

[2018-10-14 02:50] #827 closed

[2018-10-14 02:52] drujensen commented on #809
I believe this has been addressed.  If not, please re-open.

[2018-10-14 02:52] #809 closed

[2018-10-14 02:56] drujensen commented on #762
I don't this is something we can fix.  closing.

[2018-10-14 02:56] #762 closed

[2018-10-14 02:57] #755 closed

[2018-10-14 03:00] drujensen commented on #772
Closing this.  We will leave as is.

[2018-10-14 03:00] #772 closed

[2018-10-14 03:10] drujensen commented on #343
@ylluminate is this something you are still interested in contributing?

[2018-10-14 03:13] drujensen commented on #507
Will be addressed by #476

[2018-10-14 03:13] #507 closed

[2018-10-14 03:17] drujensen commented on #692
Closing this.  #476 will allow you to configure `amber watch` to use any flavor of js tool you want.  The default generators will stick with web pack.

[2018-10-14 03:17] #692 closed

[2018-10-14 03:19] drujensen commented on #693
This should be addressed using recipes.  Closing this.

[2018-10-14 03:19] #693 closed

[2018-10-14 03:28] #790 closed

[2018-10-17 00:50] elorest commented on #895
Tested original question above and it works.

[2018-10-17 19:15] acoustep commented on #899
I had a quick look into fixing this (even if only temporarily while you move to shards based) and it seems that in line 43 of `recipe_fetcher.cr` there is a HTTP request that returns a 302 status. Anything besides a 200 is returning the "Could not find the recipe" response.

Changing this to allow 302 is not enough as it also seems that the HTTP::Client does not follow redirects at the moment (htt

[2018-10-17 19:59] acoustep commented on #899
After looking into this it seems that it could be a while before it’s fixed in the Crystal library. Is it worth putting a work-around in for now. E.g. if a 302 response is found send a second request to the redirect location?

I realise this isn’t an efficient solution, but since this command is only ran during development (and only once per project at that) I don’t feel it would be too much of an

[2018-10-17 20:21] robacarp commented on #899
@acoustep I think that's whats going to end up in stdlib anyway, at some point, so that sounds good to me.

[2018-10-17 23:09] drujensen commented on #899
I think we can just re-open this PR and merge.  https://github.com/amberframework/amber/pull/900

[2018-10-18 07:49] damianham commented on #899
I am now out of contract so I will have some time to create a PR to install from shards

[2018-10-18 15:06] #899 closed

[2018-10-18 15:07] drujensen commented on #899
@acoustep I merged #900 to master.  Let me know if this fixes the issue.

[2018-10-18 16:40] isev-general commented on #899
@drujensen Can confirm it's working 🙂

[2018-10-29 18:44] faustinoaq opened #968 "No such file or directory"
### Description

`amber new` can't find the project directory when `--deps` flag is used and project name is not undercored.

### Steps to Reproduce

1. `amber new HelloAmber --deps`

**Expected behavior:** Dependencies are installed

**Actual behavior:** Shows an error: `No such file or directory`

**Reproduces how often:** Always

### Versions

[code]

### Additional Information

![image](https:

[2018-10-29 19:01] #968 closed

[2018-10-31 21:37] faissaloo opened #970 "[Question] Creating custom generate commands"
I would like to write something similar to https://github.com/galetahub/simple-captcha but I'm unsure of how I should write a shard that creates migrations, simple-captcha adds a `rails generate simple-captcha` command so I'm guessing it would be similar to that but I'm not sure how to go about adding that via a shard.

[2018-11-01 20:28] robacarp commented on #970
@faissaloo Amber doesn't have hooks for dynamically modifying the `amber` binary command. Doing so in Crystal is more complicated than Ruby, because the binary needs to be recompiled or have an established hand off to a different binary (similar to git subcommands).

I've accomplished a decent workflow by writing a private shard which outputs a binary to my project `bin/`. Then, from an amber proj

[2018-11-02 19:18] oshybrid opened #971 "amber watch failed on "Quick Start""
Got this error after starting amber watch (very new to web dev)

$ amber watch
11:43:11 Watcher    | (INFO) Watching 18 files (server reload)...
11:43:11 Watcher    | (INFO) Building project Pet-tracker...
ld: warning: directory not found for option '-L/opt/brew/lib'
ld: warning: directory not found for option '-L/opt/brew/lib'
ld: warning: directory not found for option '-L/opt/brew/lib'
ld: warn

[2018-11-03 04:16] faustinoaq commented on #971
Can you compile a simple crystal program?

Try this:

[code]

[2018-11-03 04:18] faustinoaq commented on #971
Analyzing your logs, I think this is an openssl issue on macOS, see: https://github.com/crystal-lang/crystal/issues/6875

[2018-11-03 23:42] faissaloo commented on #970
@robacarp Do you have a link to a shard you've done this in?

[2018-11-04 11:32] midhunkrishna opened #974 "Unable to boot Amber v0.10.0 on Crystal v0.27.0"
### Description

Amber app fails to boot on crystal 0.27.0

### Steps to Reproduce

1. Create an amber app off of 0.10.0
2. Install all shards and create a new amber app
3. Boot the amber app that was just created

**Expected behavior:**

Application boots and starts.

**Actual behavior:** [What actually happens]

Exception with following trace:

[code]

**Reproduces how often:**

All the time.

#

[2018-11-04 11:33] #974 closed

[2018-11-05 21:29] Phiction opened #976 "Crystal 0.27.0 update to Tempfile"
### Description

i'm running into an issue when running `amber watch`.

[code]

i'm guessing this has to do with crystals new update here?

https://crystal-lang.org/2018/11/01/crystal-0.27.0-released.html
https://github.com/crystal-lang/crystal/pull/6485

### Steps to Reproduce

1. follow quick start guide https://docs.amberframework.org/amber/getting-started/quick-start

**Expected behavior:** am

[2018-11-05 21:31] Phiction commented on #976
i saw there was a closed issue but it had no replies.

[2018-11-05 21:42] waghanza commented on #842
@faustinoaq is it not more `accurate` to compare `amber` to other `crystal` **frameworks**, or even `go` / `rust` ones ?

[2018-11-05 21:56] elorest commented on #976
This will be fixed as soon as we release Amber 0.11 later today. Use Crystal 0.26.1 with Amber 0.10

[2018-11-06 21:48] robacarp commented on #970
@faissaloo no, sorry. The lucky project has several shards which do, and is linked in my previous comment.

[2018-11-08 02:58] Phiction commented on #976
saw the release. thank you

[2018-11-08 02:58] #976 closed

[2018-11-09 16:09] anlek opened #979 "Can't install amber via brew install amber"
When I run the `brew install amber` command I get the following:
[code]

Here is my details from brew:
[code]

[2018-11-10 19:41] elorest commented on #979
Looks like some sort of merge conflict in your brew formulas. Try this:

1. `rm -rf /usr/local/Homebrew/Library/Taps/amberframework`
2. `brew install amberframework/amber/amber`
3. force link it if it gives you an error because it's already installed.

[2018-11-10 19:42] elorest commented on #971
Thanks.

[2018-11-10 19:42] #971 closed

[2018-11-10 19:44] elorest commented on #970
Maybe not the best solution but you could easily overwrite templates before compiling amber_cli. I'm closing this for now, but feel free to continue the discussion.

[2018-11-10 19:44] #970 closed

[2018-11-10 19:50] elorest commented on #943
This is something we've spent a lot of time thinking about. Due to the way crystal handles memory differently from ruby, this is difficult to do without making: dealing with params substantially more difficult.

For instance if params[:key] could equal `String | Hash(String, String | Hash(String, Hash...))` recursively then the user has to cast it to the correct value every time. I'd appreciate an

[2018-11-13 22:39] anlek commented on #979
You're correct. Those steps have fixed my issue!
Thanks!

[2018-11-13 22:39] #979 closed

[2018-11-13 23:11] eliasjpr commented on #842
I think this should include compile languages GO, JAVA, SCALA, KOTLIN, it very unfair to only include dynamic, interpreted languages

[2018-11-14 08:16] Meldanor opened #981 "Docker Tag for 0.11 missing"
### Description

#980 fixed the Docker build, but currently there is no Version tag for `0.11`, only the `latest`. This makes it hard to use a fixed version of Amber, i.e. when the project uses `0.11`, but the latest is now `0.12` with a breaking change.

Solution: Tag the current image version of amber with 0.11.

[2018-11-14 13:48] drujensen commented on #981
This should have happened automatically.  I will look into it.

[2018-11-14 16:32] drujensen commented on #981
I manually pushed v0.11.1 docker image.  thanks for reporting this.

[2018-11-14 16:32] #981 closed

[2018-11-17 13:09] Obversity commented on #916
I've just experienced this as well. Anyone know if there's an immediate in-project fix, or a bugfix on its way?

[2018-11-17 14:41] bartblast opened #982 "No overload matches 'Amber::Router::Cookies::Store#set'"
### Description

Setting a cookie with additional params, as given in the example in the docs here: https://docs.amberframework.org/amber/guides/controllers/cookies

cookies[:name] = {
   value:   "a yummy cookie",
   expires: 1.year.from_now,
   domain:  "domain.com"
 }

throws an error: no overload matches 'Amber::Router::Cookies::Store#set' with types Symbol, NamedTuple(value: String, expires:

[2018-11-17 20:41] drujensen commented on #916
@Obversity Did you try changing `field my_float : Float64`?

[2018-11-18 13:07] Obversity commented on #916
@drujensen I didn't actually! I realised the data would be equally well stored as an integer so I changed it. If I have need of a float again I'll give that a shot, thanks!

[2018-11-18 15:46] #916 closed

[2018-11-18 15:48] drujensen commented on #916
@Obversity ok, it looks like the MySql driver returns a Float32 where the Pg driver returns Float64.  I updated the templates to address this.  Thanks for reporting this.

[2018-11-22 03:02] anamba commented on #778
I'm not sure this is something that can be generalized and implemented at the framework level. But the docs could add some implementation suggestions or the generator could create a helper, perhaps.

In the spirit of providing more ideas/working code examples, here's what I do:

[code]

[code]

[2018-11-22 17:39] elorest opened #986 "Happy Thanksgiving!"
I've really enjoyed working with the amber team over the last couple years. Thanks to everyone for making Amber what it is. Lets continue to make it great.

[2018-11-22 21:04] drujensen commented on #986
@elorest I have enjoyed working with you all as well!  I am thankful to all the contributors that have made this framework one of the best frameworks out there.  Thank you!

[2018-11-28 13:32] #842 closed

[2018-12-06 05:00] dwightwatson commented on #801
![image](https://user-images.githubusercontent.com/1100408/49562498-ee547a80-f96f-11e8-936d-416d58ba3b5c.png)

It seems the site has a score of 100 now,  is there anything further to do?

[2018-12-06 07:16] GuskiS commented on #801
Nice, but there still can be made improvements, see `Diagnostics`.
Also, mobile section is 90%

[2018-12-16 21:14] nbouliol opened #995 "Error on type model"
### Description

Having a model called `Type` is not well supported

### Steps to Reproduce

I did

`amber g scaffold Type label:string`
other scaffolding, then
`amber watch`

**Actual behavior:** https://pastebin.com/P9En4Qsn

### Versions

[code]

[2018-12-23 19:58] Willyboar opened #997 "Sqlite cli issue"
If you try to create a new app using sqlite3 with
`amber new app blog -d sqlite3`
cli doesn't prevent you and giving false requirements at database.cr
`require "granite/adapter/sqlite3"` instead of
`require "granite/adapter/sqlite"`

[2018-12-23 20:34] drujensen commented on #877
Building amber for all different target platforms would be needed.  Closing this.  Let me know if you think this is still a needed feature and we can re-open it.

[2018-12-23 20:34] #877 closed

[2018-12-23 20:53] drujensen commented on #982
https://github.com/amberframework/docs/pull/120

[2018-12-24 14:55] drujensen commented on #982
@bartblast thanks for reporting this.  I updated the documentation with the latest changes.

[2018-12-24 14:55] #982 closed

[2018-12-24 14:57] drujensen commented on #905
@faustinoaq did you ever figure this issue out?

[2018-12-24 15:05] drujensen commented on #841
@robacarp `wait-for-it.sh` uses netcat under the covers.  https://github.com/vishnubob/wait-for-it/blob/master/wait-for-it.sh#L36   I haven't had an issue with using netcat to look for the port to be available.

@faustinoaq I think maybe your test is not running in the docker container so you don't have a reference to the hostname `db`?  Can you provide more details?

[2018-12-24 15:08] drujensen commented on #840
@faustinoaq I hate that about the techempower benchmarks because it makes it difficult to see the real results of each framework.  I don't want to contribute to the noise in their benchmark.

[2018-12-24 15:08] #840 closed

[2018-12-24 16:46] drujensen commented on #806
@yorci What about just setting it directly with either a method or variable?  This is how `content`  is being set.

For example, Change your application layout:
[code]

And then in the `controllers/application_controller.cr` you set your default:
[code]

And then in your controller, you can override it:
[code]

[2018-12-24 17:02] yorci commented on #806
@drujensen Hi, im always on the side of separation of frontend and backend, if i will try to do my example in your way, i have to put my javascript code into controller, but what if frontend dev. wants to do some changes? he/she has to do it in backend, so its not simplifies the developer's side, especially in a large-scale or growth potential project.

[2018-12-24 17:03] drujensen commented on #806
If you want to set the `title` in the template instead of the controller, here is another option.

In your `controllers/application_controller.cr`, add a property:
[code]

In your `views/layouts/application.ecr`:
[code]

Now in your `views/home/index.ecr`, set the title:
[code]

wdyt?  This seems like a clean solution and doesn't require `yield`

[2018-12-24 17:06] yorci commented on #806
@drujensen looks cool, i will try that in next project.

[2018-12-24 18:08] #794 closed

[2018-12-24 18:11] drujensen commented on #802
This seems to be fixed.  I tested with FF 64.  We can reopen if this is still broken

[2018-12-24 18:47] drujensen commented on #697
- SQL injection is avoided in both Granite and Crectco, if it's properly used
- CSRF protection is built into the forms if the pipe is included which it is by default
- CORS is provided by default for any API endpoint
- XSS protection via html escaping is provided if you use `slang` templating language. Unfortunately `ecr` does not provide protection.

[2018-12-24 18:52] drujensen commented on #724
Closing this issue.  I think the current process is sufficient for now.  We can revisit this if we find something is not working.

[2018-12-24 18:52] #724 closed

[2018-12-24 18:53] drujensen commented on #688
This has been fixed.  The block is now optional.

[2018-12-24 18:53] #688 closed

[2018-12-24 18:57] drujensen commented on #648
@faustinoaq Any chance you will have some time to work on this?  We have the new exceptions page but if there is an error in compilation, the existing process is not killed and no error is displayed.

[2018-12-24 19:00] drujensen commented on #645
Closing this issue. It seems to be working fine for me.

[2018-12-24 19:00] #645 closed

[2018-12-24 19:01] #640 closed

[2018-12-24 19:02] drujensen commented on #601
Decided against providing this in Amber.  you can use my shard to kickstart an existing project from a database.

[2018-12-24 19:02] #601 closed

[2018-12-24 19:05] drujensen commented on #555
#574 will address this issue if someone wants to pickup the mantle and bring this home.

[2018-12-24 19:10] drujensen commented on #498
We are providing an error message to let the user know this isn't allowed.  If we feel we need to support spaces, we can reopen this.

[2018-12-24 19:10] #498 closed

[2018-12-24 19:39] ylluminate commented on #343
Reason this was closed?

[2018-12-24 19:49] drujensen commented on #995
Yeah, there are several reserved words in Crystal and Amber.  Not sure the best way to deal with this except maybe check to see if someone is trying to use one and prevent it.

[2018-12-24 19:50] #986 closed

[2018-12-24 20:31] drujensen commented on #958
#999 needs help.  @tleneveu can you take a look?

[2018-12-24 20:34] drujensen commented on #841
Closing this issue

[2018-12-24 20:34] #841 closed

[2018-12-24 20:37] drujensen commented on #881
duplicate of #555

[2018-12-24 20:37] #881 closed

[2018-12-25 03:10] drujensen commented on #343
I didn’t get a response. Reopening.

[2018-12-25 03:17] ylluminate commented on #343
I apologize, it slipped by my radar.  I'm in the thick of some things that are overly time consuming, but I've reached out to Nanobox for some input from their end as well.  This would be a really nice addition as we really love Nanobox.

[2018-12-26 16:06] #997 closed

[2018-12-26 16:16] drujensen commented on #698
@eliasjpr Any progress on this?  I am interested how the validation library will work when a db query is needed i.e. unique

[2018-12-26 18:03] drujensen commented on #697
@KINGSABRI This took some time to figure out.  Thanks for spending the time to report this and providing details on how to reproduce it.  The burp suite tool is very easy to use.

In the navigation layout, the slang template was using a `==` instead of `=` for the email.  This bypasses the sanitization of the fields i.e. `html_safe`

Let me know if you think there are any other security concerns.

[2018-12-26 19:52] robacarp commented on #648
Since the amber-watch config is merged in, @anamba may be the one with the most recent experience in the area. Any chance you'd like to contribute to this one?

[2018-12-26 20:16] #697 closed

[2018-12-27 18:34] faustinoaq opened #1003 "Amber logs are printing full html code from error pages"
### Description

Full error pages (like 404 not found page) are being printed on amber logs

![vokoscreen-2018-12-27_13-14-08](https://user-images.githubusercontent.com/3067335/50490466-33058b80-09db-11e9-8248-500074f46615.gif)

### Steps to Reproduce

1. amber new project --deps
2. cd project
3. amber watch
4. wait build...
5. Go to 0.0.0.0:3000/nothing
6. Go to amber logs (in terminal)

**Expect

[2018-12-27 18:45] faustinoaq opened #1004 "Hide welcome page logo on small screen"
### Description

Welcome page layout was improved on https://github.com/amberframework/amber/pull/990, although the logo seems a bit weird on small screens.

![vokoscreen-2018-12-27_13-25-48](https://user-images.githubusercontent.com/3067335/50490840-46b1f180-09dd-11e9-97cf-ba19f2792c37.gif)

### Steps to Reproduce

1. amber new project --deps
2. amber watch (wait build)
3. Go to 0.0.0.0:3000
4. R

[2018-12-27 23:01] dwightwatson commented on #1004
As part of that PR one of the things I wanted to improve was the amount of boilerplate CSS the framework ships with. There are already some custom styles for the navigation bar which are used by the scaffolds, but it seems silly having `#logo` specific styles when most apps are just going to have to remove it. To be honest, I'd actually like to keep working on that so Amber ships with the least fr

[2018-12-27 23:43] faustinoaq commented on #1004
Hi @dwightwatson Thank you for your comment! :+1:

I think this would be a nice idea, @amberframework/contributors WDYT?

[2018-12-28 00:56] drujensen commented on #1004
I agree. The less boilerplate to remove, the better.

[2018-12-28 03:58] Sija commented on #1004
Sounds like the best option for me, since logo is nevertheless a vital element of an Amber project visual id and thus IMO shouldn't be hidden.

[2018-12-28 14:08] faustinoaq commented on #1004
Rails and Phoenix references here: https://github.com/amberframework/amber/pull/1005#issuecomment-450362679

[2018-12-28 15:15] faustinoaq commented on #905
Not yet, I need to check this again :+1:

[2018-12-29 00:14] Willyboar opened #1008 "Amber auth edit user don't work w/ method patch in form"
### Description

Update user profile of amber auth don't work.

### Steps to Reproduce

1. Create a new amber project with sqlite
2. Create amber auth using
    `amber g auth User`
3. Create and migrate the database.
4. I use both seed the db or register a new user.

**Expected behavior:**
Expect to edit the user email

**Actual behavior:**
Doesn't edited the user

**Reproduces how often:**
Always

[2018-12-29 01:48] dwightwatson commented on #698
I would love to see an improved validation syntax, but would also love to see Amber adopt a single approach for validation too. Supporting both request validation (Laravel style) and model validation (Rails style) is just confusing for newcomers as there's no standard way of validating, nor a clear guide for when one approach is favoured over the other.

Of course there are pros and cons to each a

[2018-12-30 04:30] drujensen commented on #580
#1009 is the first step to allow us to create your own generator shard

[2018-12-30 04:33] drujensen commented on #188
One option is to leverage git and rollback to the previous sha.

[2018-12-30 10:34] dwightwatson commented on #1008
Looks like it's because slang uses the form helper but ECR just outputs a form tag with `method="patch"`, which a browser will do nothing about.

[code]

vs

[code]

I'm not actually sure how to fix it because my ECR isn't that great. I've tried this which I thought would do the job, but it fails to compile. What's the appropriate way to pass a block and output the whole thing in ECR?

[code]

[2018-12-30 15:11] dwightwatson opened #1014 "Break up Amber::Router::Cookies module"
### Description
The file for `Amber::Router::Cookies` contains multiple class and module definitions, and `Amber::Router::Cookies` may not even need to be a class itself. I think it would be beneficial for the classes and modules defined in the namespace to be broken up into individual files so that it's easier to find.

I suspect that there may be other instances of file/class inconsistencies tha

[2018-12-30 15:44] drujensen commented on #1014
@eliasjpr wdyt?

[2018-12-30 15:49] drujensen commented on #1008
@dwightwatson unfortunately, blocks are not supported in `ecr` yet.

@Willyboar `post` will create a new user, not update one.  We will need to add a hidden field `_method` with the value of `patch` for this to work.

[2018-12-31 07:12] #1008 closed

[2019-01-01 22:30] eliasjpr commented on #1014
I thought of doing that previously. I think is a good idea

[2019-01-01 22:32] eliasjpr commented on #995
I think the keyword `Type` might be reserved

[2019-01-02 00:47] elorest commented on #995
Not sure if this is an issue we should worry about. There are multiple key words in most other frameworks including Rails, Phoenix that you just need to know not to use.

[2019-01-02 04:35] cpunion opened #1019 "Params validation should not present optional field when it not present in the input"
### Description

Params validation should not present the optional field when it not present in the input.

### Steps to Reproduce

The following is an example:
[code]

When use it validate the input `name=Don`, it returns:

[code]

**It will OVERWRITE the `age` field in the database.**

**Expected behavior:** [What you expect to happen]

Expect it returns:
[code]

**Actual behavior:** [What actua

[2019-01-02 16:36] eliasjpr commented on #943
Update: I am looking to improve more the domain for contracts, agree that Contract name, please make some name suggestions. We will be porting this over to Amber as soon is ready for use.

[2019-01-05 03:10] westonganger opened #1020 "Firefox: Amber Session Not Saving Data Between Requests."
After following the default amber authentication guide I am unable to login. The session appears to get removed upon the next request. Can someone please point me in the right direction?

Here is an example request log. As you can see the session[:user_id] gets set after the sign in POST request. The following redirect request never goes to the specified redirect path. Instead seems to reload the

[2019-01-05 04:35] drujensen commented on #1020
Hi @westonganger I think the Authenticate plugin `where` is not working.  Try this:
[code]
Also, If you use the pipelines to filter the routes, you don't need the logic in the plugin to perform it as well so you can remove that.

[2019-01-05 04:50] drujensen commented on #1020
@westonganger Sorry, just realized, you are not using Granite.  Is this Jennifer?

[2019-01-05 04:59] drujensen commented on #1019
@cpunion Thanks for reporting this.  Is this something you will have time to look into?

[2019-01-05 05:04] drujensen commented on #995
@robacarp Is there a list of reserved words we should check for?

[2019-01-05 07:00] cpunion commented on #1019
Yay! My first PR. Please review.

[2019-01-05 16:12] westonganger commented on #1020
No I am not using Granite. I was using Jennifer.cr but had too many problems, so now I've settled on Clear. The `where` query was working fine.

As the log shows, the request to `SessionController#create` is returning successful

[code]

and in the logs all is well
[code]

Then regardless of what happens next the session["user_id"] should not disappear. The redirect to the GET request shows the fl

[2019-01-05 17:35] drujensen commented on #1020
Yes, the user id is properly being set in the `Session#create`:
[code]
But when you reach the Authenticate.cr pipe, it fails to lookup the user and redirects to the '/signin':
[code]

It could be that the session is being dropped as you are suggesting so the lookup fails:
[code]
See if you can add a log message and verify the `user_id` is not being retrieved correctly.  Also spit out the contents

[2019-01-05 20:14] robacarp commented on #995
Well, I'm not sure what all would be in an exhaustive list but it could start with Type, Array, Int32, etc. Plan for eventual completeness?

[2019-01-06 07:43] westonganger commented on #1020
So I decided to test out on a different browser, Safari and it worked fine. I guess the problem is only with Mozilla (that I know of so far). Could it be because there are different headers attached? Notably I see this one which according to the Do Not Track spec shouldnt do anything by default.

[code]

[2019-01-06 16:33] drujensen commented on #1020
@westonganger Thanks for reporting this.  I am seeing some strange behavior in FF with navigation in general.  Sometimes I click on a link but it refreshes and stays on the current page.

[2019-01-06 16:37] drujensen commented on #1020
It looks like the navigation issue is related to the `auto-reload` in FF.  When I disable it, the navigation works for me.

[2019-01-06 16:50] drujensen commented on #802
This is still an issue.  Reopening.

[2019-01-06 16:52] drujensen commented on #802
Actually, I am going to create a new issue. It's behavior is slightly different than this.

[2019-01-06 16:52] #802 closed

[2019-01-06 16:58] drujensen opened #1023 "Firefox: Auto Reload interfering with navigation"
### Description

If auto-reload is enabled, Firefox v64 will exhibit navigation issues.  Clicking links in the navigation will not always navigate.  Submitting forms will not always redirect to expected page.

If I disable auto-reload, the app works as expected.

### Steps to Reproduce

1. Create a new application using `amber new blog`
2. Run `amber g scaffold post title:string`
3. Run the migrat

[2019-01-06 17:54] westonganger commented on #1020
Awesome thanks for figuring that one out for me I was so confused. Since this is solved now I will close this issue in favor of your newly created issue

[2019-01-06 17:54] #1020 closed

[2019-01-06 21:46] vifreefly commented on #1023
Can confirm, have the same bug in Firefox

[2019-01-07 03:48] eliasjpr commented on #698
Renamed to Schema-Validations instead of contracts https://github.com/eliasjpr/schema-validations

[2019-01-07 16:11] eliasjpr opened #1026 "Change behavior of params.has_key? to match Crystal Lib Hash has_key?"
### Description

Currently the  `params.has_key?(key)` returns the `value` or `false`. We should improve the behavior of this method to return `Bool` since `[]?(key)` and `[]` methods and to match the `Crystal::Hash(K, V).has_key?` method behavior for API consistency.

[2019-01-07 20:52] jackturnbull commented on #555
@drujensen I can take a look, although I can't promise much! Do you know what needs doing? Is it mainly the conflicts?

[2019-01-08 05:04] dwightwatson commented on #1014
Was looking at renaming `Amber::Pipe` to `Amber::Pipes` versus renaming the directory to `amber/pipe`.

There might be room for discussion around naming and seeing if we can develop some consistency between the module names.

![image](https://user-images.githubusercontent.com/1100408/50810631-aa81d600-135e-11e9-94e8-2cb05342e1c2.png)

One option might be to aim for singular names. It may be better

[2019-01-08 22:14] robacarp commented on #1014
Some will always be singular, server for example. But I think any namespaces/folders which represent a collection of things should be plural. Validations, Extensions, Support, etc.

Is Support plural? Whatever...

[2019-01-09 01:37] eliasjpr commented on #1014
I was working on reorganizing the project into modules as in this screenshot, the team was hesitant at the time to make these changes. Not sure how the team feels now, to slowly modularized and document the code

![screenshot from 2019-01-08 20-34-18](https://user-images.githubusercontent.com/1685772/50870190-f6477600-1384-11e9-9c81-f4f1a62d758b.png)

[2019-01-09 01:44] eliasjpr commented on #1014
I was  in the past proposing the idea to modularized the code further, to something maybe towards [this](https://github.com/eliasjpr/amber/tree/ep/cleanup-router-session/src/amber) I know the team was hesitant to do so then. I am not sure how the team feels now, to slowly organize and document the project so we can generate crystal docs.

[2019-01-09 21:02] faustinoaq commented on #1023
@drujensen Interesting, I think we have a similar issue some time ago.

BTW, How did you disable auto-reload? I just commented npm section on new `.amber.yml` settings :sparkles:

[2019-01-10 01:35] westonganger opened #1030 "Problems with Pipe Authenticated Routes and current_user compile-time type is (User | Nil)"
I am using the basic authenticate pipe. I cant seem to get around errors similar to the following on authenticated actions.

[code]

Since this is an authenticated action it should be assured to be not nil. However regardless even if I try to do the following it still gives the same error.

[code]

How can I deal with this?

[2019-01-10 02:03] westonganger commented on #1030
Looks like I fixed it with some changes to the methods in ApplicationController.

Current Instructions:

[code]

My working solution:

[code]

Maybe the solution in the docs could be updated to this. What do you think?

[2019-01-10 02:36] drujensen commented on #1030
Hi @westonganger  This is a common error you will hit using Crystal dealing with union types.

The union type `(User | Nil)` needs to be changed into `User` so you don't get the error.  `User` has the method `fetch_items` but `Nil` does not, so it throws the error.

There are several ways to do this.  The one that is recommended is to use:
[code]
The assignment will remove the `Nil` from the union

[2019-01-10 06:10] westonganger opened #1031 "Mailer is not included by default, must be specifically required"
To get the mailers working I had to add the following require statements:

[code]

I've submitted a PR https://github.com/amberframework/docs/pull/127 to update the documentation accordingly however I do not know if this instead should have been required by default.

[2019-01-10 06:14] westonganger commented on #1030
Perfect thanks for the tips.

[2019-01-10 07:17] Iainmon opened #1032 "Cant build amber app"
### Description

I can't build a brand new amber app.

### Steps to Reproduce

I just followed this guide:
https://docs.amberframework.org/amber/getting-started

**Expected behavior:** [What you expect to happen]

**Actual behavior:** [What actually happens]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Versions

Amber CLI (amberframework.org) - v0.11.2

Crystal

[2019-01-10 09:39] sumwatt commented on #905
I submitted a pull request as a start. It looks like the regex 'or' confuses crystal when you try to reference $1. There's probably a better way to do it but this was one potential solution.

[2019-01-10 15:14] jackturnbull commented on #1032
I believe this is only an issue until the next release - I hit the same issue recently too. The project you generated it valid apart from a couple of lines, the one listed in the stacktrace you posted and another in spec_helper.

Try replicating the changes made in https://github.com/amberframework/amber/pull/1027 with your generated files and that should get you up and running again.

[2019-01-10 22:23] #1030 closed

[2019-01-11 16:00] #1003 closed

[2019-01-12 16:51] drujensen commented on #1032
@elorest Can you do a release of Amber?

[2019-01-12 16:53] drujensen commented on #1031
@westonganger Did you use the generators?  It should have done this for you.

[2019-01-12 16:56] #1019 closed

[2019-01-12 17:01] drujensen commented on #1014
@dwightwatson I agree with @robacarp. It depends on what the purpose of the module is.  If it is name spacing a collection of items, it should be plural but if it's used to be included in a class, it's more than likely singular.

Closing this issue.  Thanks for the contribution!

[2019-01-12 17:01] #1014 closed

[2019-01-13 00:32] Metallord commented on #1032
Seems to be still present in 0.11.3. I work around it by changing the offending line to `Granite.settings.logger.try &.progname = "Granite"` Not sure if that's the correct approach, but it makes the build go through.

[2019-01-13 02:48] drujensen commented on #1032
@Metallord Can you confirm you ran `shards update`?

[2019-01-13 09:36] Metallord commented on #1032
[code]

[2019-01-14 19:17] jackturnbull opened #1035 "Remove x-powered-by header"
### Description

Submitting this primarily as a discussion/RFC before spooling up a PR, but I think it would probably be a good idea to remove the `x-powered-by` header that is returned on every request. The primary line of thinking is that if there's ever a security bug found within amber/crystal then amber at least wouldn't advertise what it is, protecting it from automated vulnerability scanner

[2019-01-14 19:45] nilq opened #1036 "Can't build amber app with new version"
### Description

I found this same issue, that should've been fixed with the newest release.

Trying to build my project with version 0.11.3, I get the following error:

[code]

### Steps to Reproduce

I'm trying to follow the Amber Auth example in the Gitbook.

After having run `amber new amber-learning -d sqlite && shards install`, `amber g auth User` and `amber db create migrate`, then trying t

[2019-01-14 19:59] westonganger commented on #1031
Just tested both my original `v0.11.2` and the latest stable `v0.11.3`. This file is not getting generated.

[2019-01-14 20:14] jackturnbull commented on #1036
See https://github.com/amberframework/amber/issues/1032 for more

[2019-01-14 20:16] westonganger commented on #1031
Oh I see. No I did not use the generator, I didn't realize there was a generator until now. It wasnt mentioned in the mailer docs.

[2019-01-14 20:32] nilq commented on #1036
@jackturnbull It was installed through AUR, but with a modified build script in order to install 0.11.3, the version is the same everywhere.

[2019-01-14 20:42] jackturnbull commented on #1036
Hmm, I'm a little lost in that case - I've just downloaded the 0.11.3 `.tar.gz` from the PKGBUILD and grep'd the source for a reference to `Granite.settings.logger.progname` and I've had no joy.

I've got no idea how, but the only thing that makes sense to me would be if you might have had some reference to the old 0.11.2 package version on your system at the point you generated the project - eith

[2019-01-15 05:55] westonganger opened #1039 "Make Controller LAYOUT more dynamic"
It would be nice if the controller LAYOUT was not just a static string and could be dynamic. I want to be able to assign a Proc and/or instance method name (as Symbol). Currently it appears you cannot do so.

[2019-01-15 18:04] westonganger opened #1041 "Generated ErrorControlller does not inherit from ApplicationController but still uses the application layout"
When generating the Error controller, by default uses the `application.slang` layout file. So suddenly the compiler started complaining about missing methods in my layout file that are defined in ApplicationController but not defined in ErrorController.

It turned out the errors popped up because the ErrorController does not inherit from ApplicationController. I am fine with errors happening after

[2019-01-15 18:12] elorest commented on #1041
Option 1 probably makes the most sense since it's nice if error pages still look the same and allow you to navigate out without having to go back.

[2019-01-15 18:15] elorest commented on #1041
@westonganger Are the missing methods in your layout created by you or generated by default? Last time I checked application layout doesn't depend on any methods in application controller by default. If so then this is probably something that should be fixed by end users on a case by case basis. If it happens by default then it should be fixed in amber.

[2019-01-15 18:18] westonganger commented on #1041
@elorest the missing methods were added by me but again this happens after a generator has been used making it super confusing.

[2019-01-15 18:41] westonganger opened #1042 "Make it easier to use Params without the built-in validation API"
Sometimes the validation API is nice but for many params I have no need for it and skip this step completely. Since I was not using this feature I was super confused why when debugging `params.to_h` was always empty no matter what the query string was. Turns out I must use `params.raw_params.to_h`. None of these details were mentioned in the docs so I had to search the source code.

[2019-01-16 15:37] robacarp commented on #1041
I think it makes sense for ErrorController to inherit from ApplicationController

[2019-01-16 17:51] #1026 closed

[2019-01-17 21:14] 11reed opened #1044 "Amber not working on Mac"
### Description
##### I am just trying to get Amber working on Mac.

I get this error when I run `amber db create migrate`:

![alt text](https://i.imgur.com/PCIQxb4.png "Logo Title Text 1")

I also get this error when I run `amber watch`:

![alt text](https://i.imgur.com/x7YmCOT.png "Logo Title Text 1")

### Additional Information

I've tried uninstalling & reinstalling Amber and Crystal with brew

[2019-01-17 21:30] 11reed commented on #1044
Nope, I still get the same error. Maybe I should try reinstalling everything again?

[2019-01-17 21:31] drujensen commented on #1044
does `brew doctor` show any issues?

[2019-01-17 21:40] 11reed commented on #1044
I didn't have `/usr/local/sbin` so I created & have ownership. I tried running `amber watch` again and `crystal src/test-amber.cr` didn't work. That was the only issue in `brew doctor` besides some unlinked things but not really relevant to this.

[2019-01-17 21:46] drujensen commented on #1044
could it be related to this? https://github.com/crystal-lang/crystal/issues/3067

[2019-01-17 23:53] 11reed commented on #1044
Nope, it must be something else.

[2019-01-18 00:01] drujensen commented on #1044
just to confirm, mysql is installed and running?  you can connect using `mysql -u root`?

[2019-01-18 00:15] 11reed commented on #1044
Accidentally closed, but yeah it's running.

[2019-01-18 23:44] jackturnbull opened #1045 "[Proposal] Route Schemas / Serializers"
### Description

I'll treat this as a 'lighter' proposal in that it's something I'm planning to do in my app, but also not to the extent where I think everyone will see the same benefit as I do. I won't pretend that I fully have the terminology down and all the API's finalised design-wise so please do treat this as welcome to change (I'm fairly new to Crystal too).

This one initially came about b

[2019-01-19 14:42] faustinoaq opened #1046 "Missing space between navbar and alert on v0.11.3"
### Description

New version released 7 days ago includes amber logo on navbar (see #1005 ), although, it removes the space between navbar and alert boxes.

### Steps to Reproduce

1. `amber new Example -d sqlite`
2. `cd Example`
3. `amber g scaffold Post title:string content:text`
4. `amber watch`
5. Go to http://0.0.0.0:3000/posts and create a new post

**Expected behavior:** space between navba

[2019-01-19 15:04] faustinoaq commented on #1036
This issue was introduced on v0.11.2. I can't reproduce it on  v0.11.3

I guess this was fixed on latest version

@nilq BTW, v0.11.3 is now available on AUR, sorry for late update :sweat_smile:

https://aur.archlinux.org/packages/amber/

[2019-01-19 15:06] faustinoaq commented on #1032
Hi @Metallord Do you still have this issue?

This issue was introduced on v0.11.2. I can't reproduce it on v0.11.3

I guess this was fixed on latest version

BTW, v0.11.3 is now available on AUR, sorry for late update :sweat_smile:

https://aur.archlinux.org/packages/amber/

[2019-01-19 15:13] faustinoaq commented on #1035
Hi `x-powered-by` header is optional, you can disable it by commenting `plug Amber::Pipe::PoweredByAmber.new` on `config/routes.cr`.

Also used by other crystal frameworks like Kemal by @sdogruyol

https://github.com/kemalcr/kemal/blob/eed97877a7ad28eabbf6fd7fa352fe62ade0ddb6/src/kemal/init_handler.cr#L10

This optional header is used by tools like Wappanalyzer to detect pages built using amber

!

[2019-01-19 15:18] faustinoaq commented on #1035
You can use `Amber.env` to avoid it only in production, by example:

[code]

[2019-01-19 15:57] faustinoaq opened #1047 "Waiting input on Travis because duplicated files on shards install"
### Description

I noticed some PR are failing on Travis, I think is because `shards` command is asking for action on duplicated files:

[code]

See: https://travis-ci.org/amberframework/amber/jobs/474006019#L801

### Steps to Reproduce

See failing PR on https://github.com/amberframework/amber/pulls

### Versions

Master (https://github.com/amberframework/amber/commit/39460a5a46d38efc44235e9856e8

[2019-01-19 20:55] elorest commented on #1044
Which version of macOS are you using? I'd verify that crystal is working and try manually installing amber instead of using brew version.

[2019-01-19 22:01] dwightwatson commented on #1046
Would it be better to add `.mb-3` to the navbar so that it has a bottom margin? Means we don't need to customise Bootstrap's alert styles, and it won't look odd if multiple alerts are stacked.

[2019-01-22 01:42] 11reed commented on #1044
I'm using Mojave latest release. Tried manually installing amber and I still get the same error. I keep getting `ld: library not found for -lssl (this usually means you need to install the development package for libssl)` even though everything is installed.

[2019-01-22 02:58] drujensen commented on #1044
try adding this to your `.profile`:
[code]

[2019-01-22 20:55] jackturnbull commented on #1035
Thanks for the response! I might not have explained my point well enough in that I realise that it can be removed on an individual level, it may not be responsible to have the middleware generared on a new Amber project (so it may want to be removed, either just the middleware or from the project entirely).

The if wrapper in your above example may have been roughly what I'd expect to see in a gen

[2019-01-23 00:07] jackturnbull commented on #1045
Closing this one down as I've given it a go but there's a number of things that I'm going to struggle to achieve with this approach. While I still like it in theory, there are fundemental limitations with JSON::Serializable that will be difficult to work around, namely raising errors on incorrect types (and I wouldn't want this to be a 500 every time).

I'm sure there are ways to solve them but as

[2019-01-23 00:07] #1045 closed

[2019-01-23 22:16] eliasjpr commented on #1041
I think we can create a module for these error helper methods. WDYT?

[2019-01-24 07:11] westonganger commented on #1041
Yes that sounds perfect

[code]

[2019-01-25 00:09] gdonald opened #1049 "Unhandled exception: No registered adapter with the name 'pg' (Exception)"
I tried this getting started guide:

https://docs.amberframework.org/amber/getting-started

When I do `amber watch` I get an endless stream of:

    Unhandled exception: No registered adapter with the name 'pg' (Exception)
      from ~Pet::adapter:init
      from lib/jasper_helpers/src/jasper_helpers/tags.cr:0:1 in '__crystal_main'
      from /usr/local/Cellar/crystal/0.27.0/src/crystal/main.cr:97

[2019-01-25 02:41] JRiggles opened #1050 "Error when installing Amber on Mac OS Mojave via Homebrew"
### Preface
This issue replicates #979, but I have found a different solution which I hope others may find useful.

### Description
An error occurs when installing Amber on Mac OS Mojave (10.14.2) via Homebrew (1.9.3)

Following the install procedure outlined on https://docs.amberframework.org/amber/getting-started produces the error

FWIW, I am using Fish Shell (3.0.0) https://fishshell.com
### S

[2019-01-25 05:51] elorest commented on #1050
There are merge conflicts in your local version of the formula. Deleting the formula and re tapping would also solve.

[2019-01-25 14:07] JRiggles commented on #1050
@elorest I did try to install Amber from a clean slate with `brew untap` and `brew uninstall`, but didn't have any luck. That said, you still have a point.

[2019-01-25 14:07] #1050 closed

[2019-01-25 18:01] elorest commented on #1050
Brew untap doesn't remove the formula if it's already been corrupted. I'm not sure why but I've had this issue multiple times over the years with homebrew.

FYI: I usually just run `brew install amberframework/amber/amber` instead of running tap and install. Won't solve your issue but still saves time.

[2019-01-25 20:17] #1031 closed

[2019-01-30 22:54] westonganger opened #1053 "Allow respond_with methods to accept a block"
Currently the `respond_with` format methods only allow a String or Proc. The Proc syntax is awkward and unexpected. It is also currently undocumented.

[code]

It would be alot nicer if we could do simply pass a Block like the following:

[code]

I tried creating a patch:

[code]

However I kept running into the following error:

[code]

[2019-01-30 23:05] westonganger commented on #1039
Is there not another way we could go about this at runtime instead?

[2019-01-30 23:58] gdonald commented on #1049
Found Lucky, using it instead.  Closing issue.  Thanks anyway!

[2019-01-30 23:58] #1049 closed

[2019-01-31 05:17] elorest commented on #1049
Could you tell me what version of amber you're using. I just tried the latest version from a couple weeks ago and I'm not having that issue. Are you in MacOS or Linux? I'd definitely like to solve this issue for future users even if it's too late for you.

[2019-01-31 05:21] elorest commented on #1053
I'll look into this.

[2019-01-31 06:52] elorest commented on #1053
I've submitted a PR to address this.

[2019-02-02 20:07] peoplenamed opened #1058 "Trouble following the docs"
I am having a bit of trouble following the [Amber docs](https://docs.amberframework.org/amber/cookbook/file-upload). I understand they may be outdated.

env.params throws an error.
`image = env.params.files["file"]`

I am getting another error trying to inspect the params.
undefined method 'to_unsafe_h' for Amber::Router::Params
params.to_unsafe_h produces an error when compiled.
I was able to get

[2019-02-02 20:41] elorest commented on #1058
Thanks. I nave no idea when `env.params` would have been added to the docs. If you could submit a PR to fix the docs I'd really appreciate it. `env` has never been an object on controller base or context.

Try `context.params.files["file"]`. You could also call `to_h` on that. Thanks a lot for submitting. Let me know if you still have issue with that. I'm working to add full file support to the ge

[2019-02-02 22:38] peoplenamed commented on #1058
I figured out why my form did not submit. My mistake! I needed to add enctype="multipart/form-data" (What a noob)

[2019-02-02 22:45] peoplenamed commented on #1058
[pull request](https://github.com/amberframework/docs/pull/139)

[2019-02-02 23:32] elorest commented on #1058
Thanks! 👍

[2019-02-07 06:34] faustinoaq commented on #1046
@dwightwatson Thank you for you suggestion, I already sent a PR, see #1059 :+1:

[2019-02-07 21:08] robacarp commented on #1053
@elorest @westonganger fixed?

[2019-02-09 13:18] Sija commented on #1053
@robacarp yep, fixed by #1054.

[2019-02-10 21:27] jackturnbull commented on #1036
I suspect this issue can be closed now.

[2019-02-10 21:27] jackturnbull commented on #778
PR Raised: https://github.com/amberframework/amber/pull/1061

[2019-02-10 21:31] jackturnbull commented on #555
PR Raised: https://github.com/amberframework/amber/issues/555

[2019-02-12 13:18] alex-min opened #1062 ""Read Amber quick start guide" link is a 404"
### Description

The link "Read Amber quick start guide" on the Readme goes to a 404.

### Steps to Reproduce

1. Click on the "Read Amber quick start guide" link on the Readme

**Expected behavior:** It should go to some quick start guide page.

[2019-02-12 17:47] faustinoaq commented on #1062
Hi @alex-min Do you mean this one https://docs.amberframework.org/amber/getting-started ?

Can you provide a link? :sweat_smile:

[2019-02-12 18:00] elorest commented on #1062
I checked this morning and it worked fine. @faustinoaq since you're here. Did you see my comments about gitbook?

[2019-02-13 00:41] alex-min commented on #1062
Ah really it's this link? I would have done a PR but I did not know which one it was supposed to go to.

https://docs.amberframework.org/amber/getting-started/quick-start is the one on the readme
and maybe https://docs.amberframework.org/amber/getting-started is the one which should be there then?

[2019-02-13 03:17] alex-min opened #1064 "Better 500 error logs?"
Hi,

I've noticed the 500 errors aren't that descriptive in some cases, if the pg connection fails for example, you just get something like:

[code]

This happens because the error class itself is what happens, there's no message in this case.
If we add more information in ```pipes/error.cr```, the error becomes more obvious:

[code]

I've changed ```pipes/error.cr``` to add this:

[code]

However

[2019-02-13 05:24] faustinoaq commented on #1062
Not yet, let me check, Thank you for pointing it out! :+1:

[2019-02-14 04:25] #1062 closed

[2019-02-16 07:48] #1053 closed

[2019-02-16 07:48] #1042 closed

[2019-02-16 07:48] #1041 closed

[2019-02-18 11:14] clarkyi commented on #411
I has same question
amber version 0.11.3
run the command
`amber db create`
output 'packet 254 not implemented'

[2019-02-23 01:40] alex-min opened #1070 "i18n files do not reload on changes"
Hi everyone,

I've noticed the i18n files do not reload when you save them, you have to run "amber watch" again to make the changes available.

Would it be possible to recompile them if they changed? I need to check the current code on how it's done.

[2019-02-25 17:09] #1023 closed

[2019-02-25 17:53] robacarp commented on #1070
@alex-min it is definitely possible. I think you can update your .amber.yml config to instruct the watch command to pay attention to the i18n files.

[2019-02-26 04:48] alex-min commented on #1064
closed by #1067

[2019-02-26 04:48] #1064 closed

[2019-02-26 20:48] rmarronnier opened #1074 "flash.now doesn't work and isn't consistent with documentation"
Calling flash.now["blabla"] gives a compile error : 'undefined method 'now' for Hash(String, String)'

Calling flash.now "key", "value" compiles but doesn't do anything and nothing gets returned in the logs

### Versions

Amber CLI (amberframework.org) - v0.11.3
Crystal 0.27.2 [60760a546] (2019-02-05)

LLVM: 4.0.0
Default target: x86_64-unknown-linux-gnu

Thanks for this wonderful framework anyway

[2019-02-28 08:57] #733 closed

[2019-02-28 20:08] piedoom opened #1075 "Routes always redirect to root"
I haven't used Amber before, so please excuse any ignorance on my part.

## Steps to reproduce
1. Create a new project: `amber new my_project`
2. Run the project: `amber watch`
3. Navigate to any URL, such as `localhost:3000/thisisnotarealroute`
4. Browser redirects to `localhost:3000` instead of showing 404.

Note that this behavior also applies to any non-404 resources.  For instance, if I had a

[2019-02-28 22:17] piedoom commented on #1075
After testing in Chrome, the issue disappeared.  I am closing under the suspicion that this is a local issue, but will update if anything else is found.

[2019-02-28 22:17] #1075 closed

[2019-03-01 02:49] piedoom opened #1076 ""amber new project" should not create a project in an existing, non-empty folder"
### Description

Currently, `amber new folder_name` will create a new project within `folder_name`, even if that folder already exists.

### Steps to Reproduce

1. Create any folder, fill it with content if you like.  Or run `amber new xxx` twice

**Expected behavior:** The program should read that a non-empty folder already exists, or prompt the user to create the project within a unique folder.

[2019-03-07 18:51] eliasjpr opened #1078 "[RFC] API Routes Request/Response Definitions"
### Abstract

As we move more and more to a distributed world where Rest APIs are King we devs find ourselves have to document the (request, response) contracts for the API. It would be nice for Amber to provide a mechanism to define these API contracts in code. Allow me to explain with examples

### Proposal

Have built-in Type safety routes.

### Examples

We know we can define our APIs pipeline

[2019-03-08 02:58] elorest commented on #1078
In theory I like this. Do you have an example? Pseudo code would be great.

[2019-03-08 15:39] tekanic commented on #1078
Are you proposing this as optional parameters?  What if you do not know the exact structure of the json object being passed in the request object?

There are instances where this would be a nuisance.  A lot of the front-ends that I work with have dynamic forms in which form questions/sections change dynamically based on a users answers.  There could be hundreds of fields in different combinations.

[2019-03-08 22:02] eliasjpr commented on #1078
@tekanic in such cases you should still be able to define a Request object with a simple JSON payload field. I don't think what I am proposing here will accommodate all cases where dynamic data is being passed instead the proposal aims at API contracts, and from what you describe sounds like there is not a set contract for the request.

@elorest I will put up a gist to share

[2019-03-12 06:45] damianham opened #1079 "[RFC] Recipes as patches on base templates or other recipe"
### Abstract
The current recipes implementation means that each recipe needs to provide app, controller, model and scaffold templates.  There are 2 main disadvantages to this
- lots of duplication of code among recipes
- the need to update many recipes to stay aligned with Amber releases

### Proposal
Recipes should be a patch on either the base templates or another recipe (which would be a patch

[2019-03-19 11:42] Meldanor opened #1081 "Drop support for crecto"
### Description

Crecto, an ORM, has decided to no longer maintain the project: https://github.com/Crecto/crecto/commit/4bf83cbfc1fdf6cf4efef05ac0fe6c72b826d90f

Amber should drop the support for this ORM - as a start by removing the documentation https://docs.amberframework.org/amber/guides/models/crecto from the website.

### Steps to Reproduce

Go to the Crecto Repository: https://github.com/Cr

[2019-03-19 18:19] elorest commented on #1081
Thanks for this. Please add submit PR to remove from `amberframework/docs`. I'll start working on removing from project. @drujensen do you see any issues with this? @samholst I know you were working on fixing specs for this.

[2019-03-20 05:51] samholst commented on #1081
@elorest Thank you for the update, I’ll try and keep an eye out to see what happens with this.

[2019-03-21 12:09] pynixwang opened #1082 "routes resources without / prefix"
### Description

[code]
this works well , but not work without "/" prefix.

add "/" prefix to scope is not bad.
but to resources is not acceptable.

[2019-03-31 18:22] kvirani opened #1085 "Generated auth controller should handle validate! gracefully"
### Description

After creating a very basic scaffolded `auth`, empty email and password fields cause a 500 error due to params `validate!` failing (throwing an exception) on these 2 required fields. The graceful way of failing would be to let the user know that those are required fields while re-rendering the form/new template.

### Steps to Reproduce

1. Run `amber g auth reviewer` (or `user` wh

[2019-03-31 18:29] kvirani commented on #1085
~~I should add: In Rails empty form fields still get submitted as params. In this case we would expect to see `reviewer[email]=&reviewer[password]=` (as form encoded string) in the request body. This would mean that they are indeed _present_ (not nil) but then the model validation would take over and fail due to them being empty. It seems to me that in Amber, the fields don't get submitted because

[2019-03-31 18:42] kvirani opened #1086 "Requiring application.cr in seeds.cr causes Watcher output"
### Description

When running the seeds file, developer sees output regarding `Watcher` if they require `application.cr` first (in order to load models, etc first)

[code]

db/seeds.cr:
[code]

This is not a blocker and thus a low priority issue.

### Steps to Reproduce

1. Create a seeds file (I created it manually): `touch db/seeds.cr`
2. Add reference to a model in the seeds file (eg: `puts Use

[2019-04-01 06:20] elorest commented on #1086
Fixed with PR #1088

[2019-04-01 06:20] #1086 closed

[2019-04-01 14:29] kvirani commented on #1036
@nilq were you able to resolve the error on your machine? If so, how did you get around it?

[2019-04-02 04:47] kvirani commented on #1076
Reproduced with

[code]

That said, the behaviour is non-destructive. Amber doesn't replace _any_ existing files with their original/templated versions if they already exist.

So the worst that will happen is that you will end up with a "not so new" Amber app in a target directory (which already existed and had some of the files in there already) but it won't work because it's not technically a _c

[2019-04-02 06:53] elorest commented on #1076
@kvirani That would be my preference.

[2019-04-02 20:23] Blacksmoke16 opened #1089 "Route Constraints"
Since https://github.com/amberframework/amber-router/pull/12 was merged Amber supports adding constraints to its routes, like https://guides.rubyonrails.org/routing.html#segment-constraints.

However there is not currently a method of defining these on a given route/resource.

Should be pretty simple like
[code]

Then just pass the constraints to the router when adding the route.

[2019-04-03 00:33] kvirani commented on #1089
I'd like to take a stab at this, and in doing so get more comfortable with the amber source code. No guarantees though.

[2019-04-03 09:33] samueleaton commented on #641
i think its a Crystal issue. was getting something similar in a generic Crystal server.

similar stack traces like this start popping up in the logs:
[code]

[2019-04-03 16:29] piedoom commented on #1076
I'll leave that decision to you, close if needed.

[2019-04-03 16:56] elorest commented on #641
I've been able to confirm that as well.

[2019-04-04 19:02] kvirani commented on #1082
Would love a PR from you on this @pynixwang.

I see in your commits that you've made the change but

a) it should support both _without_ `/` and _with_ it so that it's backward compabile: if `/` is added then it _should not_ do `//`
b) we should add specs to test both without and without `/` that support this.

If you don't have the time for the changes above and the PR, then I can take it on, usi

[2019-04-04 19:04] kvirani commented on #1070
This is fixed in #1071 so can we close this issue?

[2019-04-04 20:10] pynixwang commented on #1082
I 'm a little busy these days, and the framework is not api stable, we can do breaking change now, and this is really a "dsl", prefix on scope is  optional, but resources with it is bad idea.

[2019-04-06 12:24] alex-min commented on #1070
yep sorry, forgot to close it

[2019-04-06 12:24] #1070 closed

[2019-04-07 21:42] elorest commented on #1036
This issue was introduced with 0.11.2 and was fixed in 0.11.3. Haven't ran into this issue in months.

[2019-04-07 21:42] #1036 closed

[2019-04-08 03:37] elorest commented on #1082
@pynixwang the framework is/should be api stable. Many people are using it in production so in general we want to avoid breaking changes.

[2019-04-08 03:39] #1082 closed

[2019-04-08 03:40] #1085 closed

[2019-04-25 21:03] #1089 closed

[2019-05-01 17:45] elorest commented on #1081
@amberframework/core-team Lets get this removed before the next release.

[2019-05-06 16:05] nsuchy commented on #1035
We could add a `--skip-powered-by-amber-middleware` or `--skip-powered-by-amber-pipe` flag to the generator, however at that point it's better to just remove it manually. I don't think it's an unreasonable default. Now if we were including Crystal or Amber version numbers in the headers that'd be another story. It's true if you know a site is using Amber you could only try Amber specific exploits

[2019-05-06 16:06] nsuchy commented on #1081
@elorest If someone hasn't started already, is it okay for me to make a pull request that removes Crecto from the docs?

[2019-05-06 20:28] nsuchy commented on #995
The list from that issue at least looks like a good start. Do we want to check for these words in https://github.com/amberframework/amber/blob/master/src/amber/cli/generators/scaffold.cr or at a higher level in the commands chain? Should we return an exception or a pretty console output? Working on a PR to close out this issue.

[2019-05-07 20:33] nsuchy commented on #1076
@elorest In theory we could output a warning but at that point the "damage" (in this case unwanted files) are already added. The alternative would be requiring a `--skip-existing-files-check` flag to create in a folder with other files.

However it might be desirable (although maybe messy) to create in an existing project folder, for example hypothetically I have a rails app I want to migrate over

[2019-05-07 20:52] nsuchy commented on #696
Is this still an issue? I'm looking at `render.cr` and it looks like templates and partials aren't treated differently in how the file is found. If it's having trouble finding the partial it seems like a bug.

[code]

[2019-05-07 20:53] nsuchy commented on #1074
Is this still an issue for you in the latest release of Amber and Crystal?

[2019-05-07 20:57] nsuchy commented on #1047
Can this issue still be reproduced?

[2019-05-07 21:01] nsuchy commented on #1032
@faustinoaq Looks like this issue can be closed unless @Iainmon can reproduce this bug on the latest version of Amber.

[2019-05-07 21:07] nsuchy commented on #955
@firoxer It looks like one of the following needs to happen.

1) Someone contributes a change to the crystal standard library to add a remote IP to the Request object.

2) We create code which extends the standard library at runtime.

3) We write our own HTTP Server instead of relying on Crystal's built in one (which would add technical debt)

I found https://github.com/crystal-lang/crystal/issues

[2019-05-07 21:11] nsuchy commented on #698
@dwightwatson Crecto isn't supported anymore. I'm not familiar with Jennifer. Could we add a note in the docs that if using an ORM other than Granite you're on your own for validations or to use param validations instead?

[2019-05-07 21:14] nsuchy commented on #760
@faustinoaq What can contributors do to help with this effort? I have some experience with technical writing and this task may be up my ally. I know Crystal has the docs generation command, where can I read up on the syntax of method and module comment docs? What's been done already (if anything) concerning this issue.

[2019-05-07 21:21] nsuchy commented on #778
@eliasjpr It gets a 99 on Desktop and 93 on Mobile, that's way better than most websites get. Is this a priority for Amber still?

[2019-05-08 15:31] westonganger opened #1097 "Consider adding a guide or support for FormBuilder.cr"
I would like to propose an addition to the documentation as a recommended shard with a guide (which I would provide PR)

**Proposed Shard:** FormBuilder.cr - https://github.com/westonganger/form_builder.cr

This appears to be the only shard dedicated **solely** to form building for the language so far. The only other libraries with minimal form building support seem to be `jasper-helpers` and http

[2019-05-11 00:06] drhuffman12 opened #1099 "Docker tag for 0.28.0 missing"
### Submitting questions

### Description

Using the latest version of Amber (0.28.0), when you do `amber new some_app_name`, it generates (among other files) a docker file w/ `FROM amberframework/amber:v0.28.0`. The `0.28.0` tag is missing from https://hub.docker.com/r/amberframework/amber/tags .

### Steps to Reproduce

1. `amber new some_app_name`
2. `cd some_app_name`
3. `docker-compose build`

[2019-05-11 10:04] rmarronnier commented on #1099
Also the dockerfile still points to crystal 0.27.0
`FROM crystallang/crystal:0.27.0

# Install Dependencies
ARG DEBIAN_FRONTEND=noninteractive
RUN apt-get update -qq && apt-get install -y --no-install-recommends libpq-dev libsqlite3-dev libmysqlclient-dev libreadline-dev git curl vim netcat

# Install Node
RUN curl -sL https://deb.nodesource.com/setup_6.x | bash -
RUN apt-get install -y nodejs

WO

[2019-05-13 17:20] imdrasil commented on #1097
Hi there. If you would like I can easily extract all form-related functionality of https://github.com/imdrasil/view_model.cr to a separate gem (which honestly I was going to do but had no own use cases / Github issues for this)

[2019-05-13 18:54] hugopl commented on #942
I think since Crecto is now [no longer actively maintained](https://github.com/Crecto/crecto/commit/4bf83cbfc1fdf6cf4efef05ac0fe6c72b826d90f), keep only one ORM is a good idea, I submitted a MR removing Crecto to fix #1081 but it also removes the -m option from CLI, so I guess it also fixes this issue.

[2019-05-15 03:42] jaydorsey opened #1101 "Unhandled exception: cast from Nil to String failed"
### Description

I'm following the amber getting started guide. Macos 10.14.4. After the `brew install amber` step I run the `amber new pet-tracker` command and get the error noted below.

[code]

I receive the same error when running any amber command (`amber`, `amber --version`, etc.) I've tried uninstalling & reinstalling amber with no luck.

### Versions

The crystal version I have installed i

[2019-05-15 14:46] pynixwang commented on #831
@eliasjpr do  not add to _nav will prevent this happening.

this feature is almost useless.

[2019-05-16 00:48] jaydorsey commented on #1101
I'm closing this issue, because my issue appears to have gone away. I made no changes since I reported it last night, other than updating my $PATH to include the path to llvm@6. I'm assuming that may have been the missing link

    export PATH="/usr/local/opt/llvm@6/bin:$PATH"

[2019-05-16 00:48] #1101 closed

[2019-05-19 11:37] manindragautam commented on #971
Try this:
`echo 'export PKG_CONFIG_PATH=/usr/local/opt/openssl/lib/pkgconfig' >> ~/.bash_profile`

[2019-05-20 02:28] #1046 closed

[2019-05-20 02:30] #1081 closed

[2019-05-20 02:34] drujensen commented on #1079
@damianham I like this idea.  It would be great to leverage the existing `generators` and only replace the `templates` for the areas you want changed without duplicating the work in the `recipes`.  :100:

[2019-05-20 02:38] drujensen commented on #1076
#1018 will fix this by enabling interactive mode by default.  You can disable it using a `-y` flag.

[2019-05-20 02:38] drujensen commented on #1047
This is fixed in #1018

[2019-05-20 02:41] #1032 closed

[2019-05-20 02:42] #995 closed

[2019-05-20 02:42] #942 closed

[2019-05-20 02:49] #905 closed

[2019-05-20 02:52] drujensen commented on #831
#1018 enables interactive mode so it will warn you if you try to run the same generator twice.  Adding a new resource to the navigation isn't useless.  If you don't like the current generators, you can always create your own recipes.

[2019-05-20 02:52] #831 closed

[2019-05-20 02:54] #749 closed

[2019-05-20 10:19] damianham commented on #1079
@drujensen OK great, when I get some free time I will make a start on this.

[2019-05-20 15:41] #1099 closed

[2019-05-22 19:23] #1076 closed

[2019-05-22 19:23] #1047 closed

[2019-05-23 18:31] nsuchy opened #1107 "Create Security.md / Policy"
GitHub added a new Security Tab that has tools for discussing security issues and publishing a disclosure policy (See: https://github.com/amberframework/amber/security/policy). It provides a template and the tools necessary to setup one to satisfy GitHub's tooling. The maintainers should discuss and create a policy.

[2019-05-28 06:10] watzon commented on #641
I'm getting this same error with a `HTTP.get` request to `facebook.com`

[2019-05-29 15:04] AndyRosenberg opened #1110 "Add except method to filters.cr"
https://github.com/amberframework/amber/blob/master/src/amber/controller/filters.cr

Can someone add an except method to these filters? Currently, there's just all and only, which leaves you writing blocks like:

[code]

[2019-06-01 23:36] eliasjpr commented on #941
Closing this issue because I think amber is one of the most healthiest projects in the crystal community

[2019-06-01 23:36] #941 closed

[2019-06-02 02:45] #1110 closed

[2019-06-04 10:31] zhangkaizhao commented on #858
Hi. I run into a similar issue and had to use a temporary solution.
Here is my pull request for the [Which is the fastest?](https://github.com/the-benchmarker/web-frameworks) project: [[Crystal] Temporarily fix multi-processing mode of Amber server #1392](https://github.com/the-benchmarker/web-frameworks/pull/1392) just now.

[2019-06-09 00:37] drujensen opened #1116 "Re-enable ameba in .travis.yml"
`ameba` is currently disabled so we can release a version compatible with Crystal 0.29.0.  There are 120 errors that need to be corrected.

[2019-06-09 09:15] veelenga commented on #1116
I can try to handle that. Why 120 errors? I can see only 14 locally:

[code]

[2019-06-10 17:25] nathanielsuchy opened #1118 "Option in amber.yml to disable spec generation"
Some projects choose to not unit tests (specs) or use a third party option rather than Amber's build in spec system. It would be nice to have an option in `amber.yml` and at the new app create generator to disable the specs generation. Thoughts?

[2019-06-10 17:43] drujensen commented on #1118
We recommend that you have specs so the default generators will always provide them.

Eventually, with recipes, you will be able to design your own generators and remove specs if you wish.  @damianham and I have been discussing how this might work in #1079

[2019-06-10 20:56] nsuchy commented on #1118
Providing them by default is understandable, but Amber should still support user choice and give an opt-out ability.

[2019-06-11 21:12] #1116 closed

[2019-06-20 21:33] wontruefree opened #1119 "Should we update the github used by to use shards"
I mostly use system package managers to install amber but for the purpose of github should we update the package manager to say something about shards?

Since you cannot install amber via the shards commandline eg. `shards install amberframework` I dont really know what this should say.

<img width="432" alt="Screen Shot 2019-06-20 at 4 28 27 PM" src="https://user-images.githubusercontent.com/1045

[2019-07-27 04:56] Qard opened #1122 "Could not find the recipe base : 404 Not Found"
### Description

The `--recipe` flag doesn't seem to work. I've tried with github user/repo fragment, full github URL, a URL to a github release zip and even a local checkout and all produce the same message:

[code]

### Steps to Reproduce

1. `amber new myapp -r damianham/amber_modular`
2. BOOM

**Expected behavior:** To download and use the recipe

**Actual behavior:** A 404 error

**Reproduces

[2019-08-03 10:14] dcalixto opened #1124 "Error: abstract `def Enumerable(T)#each(&block)` must be implemented by Callback::ResultSet(T)"
This `Error: abstract def Enumerable(T)#each(&block) must be implemented by Callback::ResultSet(T)
`
Showed on the log on the fresh install of the framework by the [](https://docs.amberframework.org/amber/getting-started)

guide!

![amber](https://user-images.githubusercontent.com/1009077/62410607-3dfe4b00-b5be-11e9-8194-4babe59cbc2d.png)

[2019-08-03 12:39] alex-lairan commented on #1124
Hi, you are using Crystal 0.30.

This version have a breaking change with modules and abstacts methods with return type.

Use the 0.29 version and you will not have problems :)

Maybe next week Amber will be 0.30 ready.

You can follow this pull request https://github.com/amberframework/amber/pull/1123

[2019-08-03 14:29] dcalixto commented on #1124
@alex-lairan , ok thank you :)

[2019-08-03 14:29] #1124 closed

[2019-08-04 22:04] drujensen opened #1125 "Support Crystal v0.30.0"
Several dependencies need to be updated before we can support Crystal v0.30.0.:
mosop/callback#2
mosop/optarg#7
mosop/cli#19
mosop/teeplate#16
TechMagister/liquid.cr#37
will/crystal-pg#178
crystal-lang/crystal-mysql#80
crystal-lang/crystal-sqlite3#43
amberframework/granite#353
amberframework/citrine-i18n#6

[2019-08-08 06:37] #1125 closed

[2019-08-08 06:55] #1058 closed

[2019-08-08 06:58] drujensen commented on #1119
@wontruefree I checked and there is no way of fixing this.  We cannot disable it or control it.  It is reading from the package.json and assuming the project is Node/JS.

[2019-08-14 01:57] bbaragar opened #1127 "incorrect crystal version and symlinks"
Crystal version incorrect in 2 files, should be 0.30.1:
    .crystal-version
    shard.yml

The symlinks in the makefile seem to be created correctly

[2019-08-14 02:24] drujensen commented on #1127
Is this causing any issues for you?  We typically don't update the crystal version for every patch release.

[2019-08-14 02:29] bbaragar commented on #1127
Yes when I try to build amber it throws errors about version 0.28.0 or 0.29.0 not being installed. changing the version in the two files to 0.30.1 fixed this

[2019-08-14 07:05] elorest commented on #1127
Hmmm. We recently released amber to work with multiple breaking changes in 0.30.x. Thanks for that @drujensen. Anyway shards.yml is locked to crystal version 0.29.0 and .crystal-version is locked to 0.28.1. Since the currently naming convention mirrors the crystal version I would assume it's preferred version would also be 0.30.x even if it was possible to compile with an older version.

Do you ha

[2019-08-14 16:11] drujensen commented on #1127
fixed by #1128

[2019-08-14 16:11] #1127 closed

[2019-08-14 19:26] nsuchy opened #1129 "Compiler error"
I am unable to run the Amber CLI as Crystal (latest snap) runs into a compiler error. How would Amber advise me to proceed.

**Error Output**
[code]

[2019-08-14 19:49] drujensen commented on #1129
looks like this is crashing: https://github.com/amberframework/amber/blob/master/src/amber/environment/loader.cr#L21

[2019-08-14 20:00] nsuchy commented on #1129
Interesting. Amber crashes using the snap for Crystal "edge" and the snap for Crystal "stable"
[code]

Any ideas on a fix?

[2019-08-14 20:04] nsuchy commented on #1129
Interesting to note that Crystal on macOS isn't affected by this bug and Amber works as expected.
[code]

Maybe this is an LLVM 4 bug?

[2019-08-14 20:04] drujensen commented on #1129
I would dig into this deeper: `@yml_settings ||= File.expand_path("#{@path}/#{@environment}.yml")`

See if you can verify the @path and @environment variables are properly being read.

[2019-08-14 20:18] nsuchy commented on #1129
Tried putting it into a script but unfortunately instance variables can't be accessed at the top level.

**Information of interest:**
[code]

[code]

Running the application through Crystal seems to work fine randomly:
[code]

But if we go back to Amber
[code]

But after removing the bins and reinstalling Amber
[code]
Still no luck here

Conclusion? Something is very wrong with how my Amber binary

[2019-08-14 20:32] nsuchy commented on #1129
Okay so after a complete reinstall:
[code]

The CLI works as expected, my app even launches:
[code]

So then the question is why didn't things work before and will this issue come right back up.

[2019-08-14 20:33] drujensen commented on #1129
I have a fresh install of Ubuntu 16.04.  I installed crystal as a snap and downloaded amber stable.  Did the make and sudo make install.  I created a new amber project and verified everything is working.

[2019-08-14 20:44] nsuchy commented on #1129
We use Debian for staging and production at my organization. Ubuntu might have some extra libs available by default? Logged in as root so no sudo needed :P
[code]

[2019-08-14 21:29] nsuchy commented on #1129
At this point the issue is resolved but I would still be interested in knowing why it worked before and why it broke.

[2019-08-14 21:59] elorest commented on #1129
This issue only happens if you're running amber inside of an amber project without correct environment files. `amber -v` or other commands should work fine both outside of the amber project and inside of a correctly generated or new amber project.

@nsuchy can you confirm this on your end. That's the only way I've been able to replicate this.

[2019-08-15 00:11] nsuchy commented on #1129
It happened everywhere. Really wish I had backed up the amber binary for further analysis before reinstalling it.

[2019-08-15 04:07] sam0x17 commented on #271
was there ever a way added to override the default other than by specifying the command line option?

[2019-08-15 04:37] elorest commented on #271
System editor I think.

On Wed, Aug 14, 2019, 9:07 PM Sam Johnson <notifications@github.com> wrote:

[2019-08-15 22:59] drujensen commented on #1129
@nsuchy Can you look into your `config/environments/development.yml` file and confirm that it isn't corrupt?  Also, can you confirm you are not using an encrypted version `config/environments/development.enc`?

@elorest how did you replicate the issue?

[2019-08-15 23:06] elorest commented on #1129
@drujensen I can replicate the issue by deleting or corrupting my environment files. The binary still works just fine outside of the project folder though in my case.

[2019-08-15 23:19] drujensen commented on #1129
@elorest I moved the `environments` directory but still can't replicate this issue.  I get a different error:
[code]
Is this what you are seeing or can you replicate the same error?

[2019-08-16 16:26] drujensen opened #1131 "Params type conversion not being handled anymore"
### Description

With the latest Granite changes, it no longer handles conversion of String to the appropriate type.  The `user_id` from the `params.validate!` call returns a `Hash` of `String`'s.  Since the `user_id` is of type `Int64` instead of `String`, it fails to assign the value.  It also did not throw an exception or create any errors.

more details of the issue are described here: https:/

[2019-08-16 20:16] nsuchy commented on #1129
https://github.com/amberframework/amber/issues/1129#issuecomment-521826291
We run development (amber watch) in production currently as our solution is still in beta and being constantly changed. No encrypted environment variables atm.

[2019-08-17 18:49] drujensen commented on #1131
This has been fixed by @Blacksmoke16.  💯

[2019-08-17 18:49] #1131 closed

[2019-09-08 21:54] faissaloo opened #1132 "Can't compile anything"
### Description

Can't compile my project.

### Steps to Reproduce

1. Clone https://github.com/faissaloo/ratmachine
2. run `make -B build`

**Expected behavior:** Should compile without error
**Actual behavior:** Compiler errors with
[code]

**Reproduces how often:** 100%

### Versions

Amber CLI (amberframework.org) - v0.30.0
Crystal 0.30.1 [5e6a1b672] (2019-08-12)
LLVM: 4.0.0
Default target: x8

[2019-09-10 06:14] elorest commented on #1132
It looks like according to your shard.lock file that you're using amber 0.11.x. That won't be able to compile with the latest version of crystal.

[2019-09-10 14:16] whidbey opened #1133 "https://amberframework.org/ domain can't open"
### Submitting questions

- If the question is something like "how do I do X?", consider using [StackOverflow](http://stackoverflow.com/questions/tagged/amber-framework)
- If the question is specific to another shard, please post an issue to the shards issue tracking system.

### Description

[Description of the issue]

### Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

**

[2019-09-10 14:48] whidbey commented on #1133
Created on 2017-09-09
Expires on 2020-09-09
Updated on 2019-09-09

[2019-09-10 18:45] wontruefree commented on #1133
weird it seems to work for me

[2019-09-11 09:25] borowskiio commented on #1133
When I hit the address with https I get unable to connect, with http only, it takes me to the parking page on namecheap.

[2019-09-11 16:50] robacarp commented on #1133
AmberFramework.org expired for a day or so, but it's been renewed. My assumption is that this is still remnants of DNS propagation from that incident. https://github.com/amberframework/amberframework.org/issues/9

[2019-09-13 13:49] rmarronnier commented on #1074
I'll look at this, this week-end and make a tentative PR

[2019-09-14 20:24] irlcatgirl opened #1136 "How do I set SameSite cookies?"
Is it possible to require SameSite cookies? I'd like to add them as an extra protection against CSRF attacks. If this isn't currently built into Amber could it be added as a setting?

[2019-09-15 15:14] faissaloo opened #1137 "Unhandled exception on HTTP::Handler when upgrading from 0.11 to 0.30"
### Description

I'm in the process of migrating from Amber 0.11 to 0.30, I've made the changes described [here](https://github.com/amberframework/amber/releases/tag/v0.30.0) but while it compiles fine I get the following error in the terminal whenever I try to access a page:
[code]

### Steps to Reproduce

1. `git clone https://github.com/faissaloo/ratmachine/ -b crystal-0.3`
2. Run `shards build

[2019-09-27 19:37] dburnsii opened #1144 "Shards Update not working"
Running `shards update` the current (and presumably some other recent) release fails due to a decency bug not caused by this repository specifically, but I want to note the issue is being resolved by the shard responsible:

https://github.com/amberframework/micrate/issues/44

[2019-09-28 00:57] drujensen commented on #1144
This should be fixed.  Thanks for reporting it.

[2019-09-28 00:57] #1144 closed

[2019-09-28 01:00] drujensen commented on #1137
It looks like you have the error pages installed.  Can you try commenting out the Error Pipe in the routes.cr?  `lib/amber/src/amber/pipes/error.cr:23:9 in 'call'`  You may need to rerun the generator for that.

[2019-09-28 12:07] faissaloo commented on #1137
Yeah commenting out the error pipes worked. How do I regenerate them?

[2019-09-28 15:00] elorest commented on #1137
Try making a fresh project and copying them over.

[2019-09-29 12:23] #1137 closed

[2019-10-02 17:43] eliasjpr opened #1148 "Remove Cluster Option"
# Remove Cluster Option
With the addition of the `-Dpreview_mt` crystal cluster option will not be necessary. Instead we can use the process count setting to easily set the `CRYSTAL_WORKERS` environment variable when starting the amber server.

[2019-10-02 17:45] eliasjpr commented on #858
We can now compile amber using the `-Dpreview_mt` flag to enable multi thread. I have tested this and it works.

### See issue #1148

[2019-10-02 18:10] elorest commented on #1148
I think we should wait for multithreading to be out of preview before removing a feature used by people in production.

[2019-10-02 18:14] elorest commented on #1148
Let's a deprecation warning when clustering is turned on. I can do that.

[2019-10-03 12:47] eliasjpr commented on #1148
Yes, this was a ticket to follow up when multithreading is ready

[2019-10-03 15:51] elorest commented on #1148
Perfect.

[2019-10-04 04:01] westonganger commented on #1097
A PR providing this guide has now been submitted at https://github.com/amberframework/docs/pull/162

[2019-10-11 04:01] MatheusRich opened #1154 "Log time is UTC not local"
### Description

When I run the server, the displayed time in logs doesn't match my local time. This is kinda annoying, and may led users to confusion.

### Steps to Reproduce

1. Just run `amber watch`

**Expected behavior:** The time in the logs should match the local time.

**Actual behavior:** The times is always UTC

**Reproduces how often:** Always.

### Versions
**Crystal**
Crystal 0.31.1 [

[2019-10-12 02:12] #1097 closed

[2019-10-12 18:42] bnsv opened #1156 "no database.yml in config"
### Description
This is my first installation of Amber. I follow the instruction from the docs. Everything went well until creating database.  The connection is unsuccessful. It is said to change my preference in config/database.yml. But when i look into config directory there is no database.yml. There is only database.cr. No other yml files at all in this directory.

### Steps to Reproduce

**Exp

[2019-10-12 22:54] elorest commented on #1156
Database settings are in `config/environments/[env].yml`. If the docs say otherwise they're a couple years old. I'd love it if you could fix that. Thanks.

[2019-10-13 00:13] bnsv commented on #1156
Great Elorest. It turns out that my pdf doc is the old one, how can I missed that. I should check the online docs at first place. Thanks a lot.

[2019-10-13 00:13] #1156 closed

[2019-10-17 15:39] jondruse opened #1158 "generated Dockerfile points to non existent docker image"
### Description

After generating a new amber application, the Dockerfile included:

`FROM amberframework/amber:v0.31.0`

which doesn't exist on docker hub and causes docker-compose to fail.

### Steps to Reproduce

1. brew tap amberframework/amber
2. brew install amber
3. amber new test_app
4. cd test_app
5. docker-compose build

**Expected behavior:** docker to build

**Actual behavior:** ERROR:

[2019-10-17 16:02] drujensen commented on #1158
Done.  I have been having issues with DockerHub lately.  Hoping github's package manager releases soon.  🙏

[2019-10-19 03:45] #1158 closed

[2019-10-20 22:31] eliasjpr commented on #1154
Feel free to make a PR @MatheusRich, thanks for raising this issue

[2019-10-22 15:04] LeandroRezendeCoutinho opened #1160 "docker error"
Building migrate
Step 1/7 : FROM amberframework/amber:v0.30.1
ERROR: Service 'migrate' failed to build: manifest for amberframework/amber:v0.30.1 not found: manifest unknown: manifest unknown

SO: Manjaro

Steps: Just run > docker-compose up

[2019-10-22 15:22] drujensen commented on #1160
try v0.31.0 https://hub.docker.com/r/amberframework/amber/tags

[2019-10-28 22:30] seanwatters opened #1163 "libssl issue on MacOS Catalina (maybe as early as Mohave)"
### Description

I'm currently having an issue when attempting to run Amber projects after creation w/ `amber w` where I get the error

[code]

### Steps to Reproduce

Create an Amber project running MacOS Catalina and run `amber w`

**Expected behavior:**

Start up Amber project on `localhost:3000`

**Actual behavior:**

I get the error message above

**Reproduces how often:**

100% on newly gene

[2019-11-10 18:55] #1160 closed

[2019-11-10 18:56] drujensen commented on #1129
@nsuchy Is this still an issue?

[2019-11-10 19:07] nsuchy commented on #1129
I can’t reproduce, everything works flawlessly with my new dockerfile and aggressive commit locking.

Ref: https://github.com/ulayer/DockerCrystalAmber

[2019-11-10 19:07] #1129 closed

[2019-12-02 07:44] g33kidd commented on #1163
Can confirm this is also occurring in Mojave. Currently running MacOS 10.14.4 and running into the same issue when running `amber watch`.

[2019-12-02 19:51] wontruefree commented on #1163
Does this need to be updated?
https://crystal-lang.org/install/on_mac_os/

[2019-12-05 08:55] X-tymchenko opened #1167 "Unhandled exception: (DB::ConnectionRefused)"
I just run `amber watch` and got this error:
### Error message:
[code]
But after i have access to DB. And I can select + insert data
### Dependencies:
[code]

[2020-01-15 17:05] wontruefree commented on #1119
that is a bummer

[2020-01-15 17:05] #1119 closed

[2020-01-15 17:08] wout commented on #1119
Shouldn't Github be notified about this issue? By now, they should be able to detect a Crystal project by its `shard.yml` file.

[2020-01-17 21:38] eliasjpr commented on #1167
This is by design. One should not be able to start the app unless it has access to the database.

[2020-01-18 06:19] X-tymchenko commented on #1167
@eliasjpr but after this error, i have access to DB and can to do any transactions.

[2020-01-21 01:31] eliasjpr commented on #1167
You need to setup a database user and then update the config/{ev}.yml

[2020-01-21 10:38] X-tymchenko commented on #1167
@eliasjpr my dev.yml
[code]

[2020-01-21 15:04] eliasjpr commented on #1167
When you have a **`Caused by: password authentication failed for user "postgres" (PQ::PQError)`** error it means that your postgres user does not have a password. I would recommend to create a new Postgres user matching your session user. Follow these instructions https://www.a2hosting.com/kb/developer-corner/postgresql/managing-postgresql-databases-and-users-from-the-command-line

[2020-01-21 15:14] X-tymchenko commented on #1167
@eliasjpr I don`t have this problem using rails or node.js project.

[2020-01-21 20:40] eliasjpr commented on #1167
After looking closely at the connection string URL, I noticed that is `postgres://`. can you try `postgresql://` instead and see if it makes a difference.

[2020-01-21 20:40] eliasjpr commented on #1167
@Blacksmoke16 @drujensen any thoughts? ^

[2020-01-22 02:01] #1167 closed

[2020-01-25 17:24] drujensen opened #1174 "Password validation is failing"
### Description

Password validation is failing when trying to login.

### Steps to Reproduce

[code]

1. Access http://localhost:3000
2. Create a new account test@test.com / password
3. Logout
4. Login with test@test.com / password

**Expected behavior:** [What you expect to happen]

User is logged in

**Actual behavior:** [What actually happens]

Error saying email or password is incorrect

**Re

[2020-01-26 10:39] vnine99 opened #1175 "Amber can't be built"
Following the instructions on https://docs.amberframework.org/amber/getting-started fails no matter what I try on ubuntu.
It gives this error "Error resolving db (~> 0.8.0, ~> 0.7.0)" when running "shards install"

[2020-01-27 19:46] lebogan commented on #1175
The Amber devs are working on this. Meanwhile, I was able to clone the default `master` branch and it built correctly on ubuntu 18.04. HTH:-)

[2020-02-03 14:09] bnsv commented on #1175
Based on the suggestion from @eliasjpr [ in gitter](https://gitter.im/amberframework/amber?at=5e381daf433e1d40399231aa) to update amber to the newest v0.32. I reinstall Amber and succeeded built it without any error.

## watchout!
[code]

[2020-02-09 00:25] faissaloo opened #1177 "amber watch breaks gets"
### Description
Can't use amber watch if startup depends on gets

### Steps to Reproduce

1. Add a use of gets to the amber application, e.g: in the <application name>.cr
2. Run `amber watch`

**Expected behavior:** [What you expect to happen]
The process will be blocked while waiting for the user's input

**Actual behavior:** [What actually happens]
The application does not wait for the users inp

[2020-02-09 00:39] elorest commented on #1177
What file are you adding it into?

[2020-02-09 00:41] faissaloo commented on #1177
`src/<MY APPLICATION NAME>.cr`, the same file that calls `Amber::Server.start`

[2020-02-09 19:58] elorest commented on #1177
`gets` would break auto reload which the the purpose of watch. If you want to capture stdin run `crystal src/project.cr` instead.

[2020-02-09 23:11] faissaloo commented on #1177
`gets` *shouldn't* break autoreload though, autoreload shouldn't affect the running of the program. I'm not 100% on the architecture you've got going rn, but you should be able to put it in another thread then just kill it when you need to reload.

[2020-02-10 02:55] Brodan commented on #1174
I'm also seeing this currently. When I check the DB I see the user created and the `hashed_password` column is completely blank, thus re-logging in fails. This is when using postgres if that helps.

[2020-02-16 01:28] andrewc910 commented on #1174
It looks like `User#password=` is not being invoked with `user = User.new user_params.validate!`(user_controller#create). Actually, it looks like no manual setters are invoked like this.

Adding `user_params.validate!["password"]` below the initialization of the `User` object ensures `User#password=` is invoked.

I believe this fix will take a deep dive into Granite or Amber Router. I implemented

[2020-02-16 03:39] drujensen commented on #1174
This is a granite issue.  Granite should call the getters and setters when assigning values.

[2020-02-16 03:39] #1174 closed

[2020-02-19 06:37] damianham commented on #742
My current thoughts on the implementation of a plugins feature;

Plugins should be pieces of code that you drop into an Amber app that adds features to your app, much like a gem such as Devise adds features for handling user authentication to a Rails app.  Plugins should add namespaced routes, controllers, views, models and migrations where appropriate.  Other commands could be added to the Amber

[2020-02-20 11:22] damianham commented on #742
We could also have a plugin sub-command to generate plugins from a plugin recipe, e.g.
[code]
which would work along the same lines as the recipe feature in downloading the plugin recipe from the PLUGIN_URI and generating the plugin from the downloaded recipe template.

[2020-02-21 21:10] andrewc910 commented on #742
I have a few issues with the current implementation idea.

1. Why not install the plug-in as a shard? Let shards handle the fetching. This solves the dependency problem. So instead of uri for the plug-in command, you just call the module name. This feels more natural. It would also make the remove command easy as you can scan shards plug-in folder from the shard to see what it adds.

2. Why a zip?

[2020-02-21 22:14] drujensen commented on #742
@andrewc910 I agree with you on using a shard and allowing it to handle all the dependencies.  Something @damianham and I have been discussing for a while.

The instructions to use your plugin/recipe will be to include your shard and rebuild amber by running `shard build amber` which will build a local instance in `bin/amber`. Then run your generator via `bin/amber g mycoolplugin args`

The issue

[2020-02-22 08:05] damianham commented on #742
I don't disagree that there is an advantage of adding a plugin as a shard to bring in the dependencies but as you point out Dru you cannot include the source from the shards `lib` directory easily.

What do you think about if the `plugin add` command can also added dependencies required by the plugin to shard.yml if they are not already present ?  Then post-install and after adding dependencies to

[2020-02-24 19:13] adacosta opened #1184 "Websocket IO::Error"
### Description

An Unhandled exception in spawn: Closed stream (IO::Error) can be raised if the socket connection is closed and data is then written.

[code]

### Steps to Reproduce

I don't have exact steps for timing out the connection, but it looks like an IO::Error can be raised in the while block, I'm not sure if it's because the error trace doesn't specify the location within the while bloc

[2020-03-08 19:11] valenciaj opened #1186 "Error expanding macro 'route'"
Hi there!

I add a resources route in my amber app like this: `resources "/administrators", AdministratorsController`.

When I start my app
[code]

Amber routes
[code]

Amber version
[code]

Crystal version
[code]

[2020-03-09 03:55] drujensen commented on #1186
Hi @valenciaj Can you provide the source for the `AdministratorsController.cr`?  It looks like the `new` method is expecting 1 parameter instead of 0.  Here is what the scaffold generator produces for a `resource`:  https://github.com/amberframework/amber/blob/master/src/amber/cli/templates/scaffold/controller/src/controllers/%7B%7Bname%7D%7D_controller.cr.ecr#L1

[2020-03-09 07:45] valenciaj commented on #1186
administrators_controller.cr

[code]

and `ApplicationController` are inherited by other controllers, but without `resources` routes.

[2020-03-09 13:27] drujensen commented on #1186
It looks like the action `new` is conflicting with the controller initializer `new(context)`.  Try adding `only = :index` to the `resources` definition in the `routes.cr`.

[2020-03-09 22:19] valenciaj commented on #1186
Seems to be working well. =)

[2020-03-13 09:40] PeterMozesMerl opened #1187 "Error: undefined method 'respond_with_status' for HTTP::Server::Response"
### Description

I tried to peek into Amber but I could not make the project run.

19.3.0 Darwin Kernel Version 19.3.0: Thu Jan  9 20:58:23 PST 2020; root:xnu-6153.81.5~1/RELEASE_X86_64 x86_64

I installed it from MacPorts. I ran into the issue a few days ago. Today, I reproduced it from scratch.

### Steps to Reproduce

[code]

[code]
### Versions

Latest Catalina, up to date MacPorts

I installe

[2020-03-13 10:20] PeterMozesMerl commented on #1187
I guess it’s the Crystal version which is

Crystal 0.30.1 (2019-10-31)

in MacPorts.

[2020-03-13 12:14] elorest commented on #1187
Run the corresponding Amber version with the Crystal version. I'd recommend
using the latest of both.

On Fri, Mar 13, 2020, 3:20 AM PeterMozesMerl <notifications@github.com>
wrote:

[2020-03-13 12:44] PeterMozesMerl commented on #1187
I installed Crystal 0.33.0 from source.

Installing shards was a pain. If I compiled it with Crystal 0.33.0, then it was looking for some file in /opt/crystal. That directory doesn’t exist. Also, I didn’t find it in the source but the shards binary.

The compiled shards that came with the 0.33.0 compiled .tar.gz in the embedded/bin/ displayed the same error message.

Finally, I managed to compile

[2020-03-21 03:58] alex-min commented on #778
I use this [code I wrote](https://gist.github.com/alex-min/f4c2821ce619c0219c49e0fbfba63314) on my case to generate the routes.

This might not the cleanest way to do it but it works, to use it:

- copy this generate_routes.cr at the root of your project
- create a folder ./src/controllers/helpers if it's not already done
- just do a ```crystal generate_routes.cr```, it will create a ```view_path.

[2020-03-28 03:09] andrewc910 opened #1189 "Feature: GraphQL Support"
Hi, I saw  #265 and tried it out. I have a working implementation that i think it is quite nice but i am open to feedback.

I wanted to create PR that adds some command/template that would install GraphQL to an amber project. The PR itself would add no new dependencies to amber. The command would probably be `amber g graphql`. I am not aware of any flags/options yet.

What would happen once the co

[2020-03-28 14:17] drujensen commented on #1189
I could see adding a new attribute to the `column` definition to define which fields are queryable.
[code]

[2020-03-30 22:31] andrewc910 commented on #1189
That would be a nice addition. I can take a look at granite after making a PR.

A concern has come up though. The author of the shard is MIA from all of github. Contributions to anything are null for 4 months. Furthermore, he isn't even available for issues or releases.

Idk what to do. I plan on forking it in the future and adding some features but no clue when that will be. Maybe I'll pick this

[2020-03-30 23:22] John-Hayes-Reed opened #1190 "Unable to create a test database when DATABASE_URL is present"
### Description

When trying to create a `_test` database using a docker-compose service based project that is supplying a DATABASE_URL environment variable to the service, it does not create a test database, and shows an `xxxxxxx_development database already exists` message.

### Steps to Reproduce

1. Create a new Amber project
2. Ensure the generate docker-compose.yml file is supplying an `_dev

[2020-03-31 05:11] damianham commented on #1190
IMHO this is correct behaviour as environment variables should always take precedence over static configuration.  Setting the env variable AMBER_ENV=test will use the test database URL in the amber test environment config unless a DATABASE_URL environment variable specifies another database URL. I think this is the best option in that you can setup env variables to override static config.  This is

[2020-03-31 10:37] John-Hayes-Reed commented on #1190
I can see that and would tend to agree I think.
In my case that env variable setup in the compose file is part of the auto generation of the new project, so perhaps to avoid people like myself coming to the framework and wanting to get learning / up and running with it with the least amount of hiccups, have the docker-compose.yml file generate without that environment variable set in it and passed

[2020-03-31 13:49] faustinoaq commented on #1035
Hi @jackturnbull Just to be clear, `Amber::Pipe::PoweredByAmber.new` is disabled by default now

https://github.com/amberframework/amber/blob/master/src/amber/cli/templates/app/config/routes.cr#L5

Stay safe, Cheers! 😃

[2020-03-31 14:22] drujensen commented on #1190
@damianham This is a bug since amber generated the docker-compose.yml file and its pointing to the development database instead of the test one when you run specs.

There has been several debates if we should support the DATABASE_URL environment variable.  I personally fall on the side of less magic, but I will leave that for others to argue.

[2020-04-01 08:32] damianham commented on #1190
what we should probably do is have an extra test service in the docker-compose file that sets the AMBER_ENV variable to test and the DATABASE_URL variable to the test db then in
src/amber/cli/helpers/sentry.cr(Line 66)  if AMBER_ENV == 'test' run the spec: section(task) of .amber.yml only rather than joining it with the run: section then
[code]
to run tests and it would be nice if it kept running

[2020-04-06 02:35] eliasjpr commented on #1189
I think is a great addition @andrewc910 feel free to propose a PR. We can all collaborate. There is support for custom generators in amber you might want to take a look at that first. Let us know where we can help.

[2020-04-09 21:15] andrewc910 commented on #1189
@eliasjpr Can you point me in the direction of those generators? I can only find recipes. I don't think this would be a good recipe as it's not really a 'base' per say. Like amber with react is a base. Maybe if you were planning only an api amber project. I thought some way to install graphql at any life cycle would be nice.

None the less, i am not fully taking over the graphql project but i am c

[2020-04-12 03:08] drujensen opened #1192 "Replace Logger with Log"
### Description

Crystal 0.34.0 has depreciated Logger and replaced it with Log.

[2020-04-12 19:53] drujensen opened #1193 "Fix specs for `Redirector.from_controller_action` class method"
### Description

Specs are failing in Travis for creating a `Redirector` using `from_controller_action`.  These tests passed on my local MacBook Pro.

https://github.com/amberframework/amber/blob/master/spec/amber/controller/redirect_spec.cr#L51

Look into fixing them.

[2020-04-26 01:51] miler350 opened #1196 "Contents of test directory are not automatically generating with Amber v0.34.0."
### Description

Contents of test directory are not automatically generating with Amber v0.34.0.

### Steps to Reproduce

1. Install Amber v0.34.0 (if needed)
2. Run `amber new [app_name]`
3. Navigate to `spec` folder in root

**Expected behavior:**

![Screen Shot 2020-04-25 at 9 47 56 PM](https://user-images.githubusercontent.com/3248267/80295167-7e9a8780-873e-11ea-966e-7ecd9fcf0fb9.png)

Expecte

[2020-04-26 01:57] #1196 closed

[2020-05-05 10:00] itsezc commented on #1189
This would be epic!
One could always look to projects like Prisma for inspiration.

[2020-05-08 17:41] Uzay-G opened #1198 "Sanitizing values rendered in views"
I am using ECR to render my views, so for example in one of my views I have:
```<%= user.name %>```

The problem with this is that I noticed if for example my user's name is `<h1>User</h1>`, the html actually gets rendered ( and with it all the js vulnerabilities you can think of. ). The way Rails handles this is that any erb variable gets sanitized for html. Maybe, since amber supports several te

[2020-05-08 17:50] drujensen commented on #1198
@Uzay-G Thanks for reporting this.  The ECR is apart of the crystal library and not something we recommend using.  slang and other templating languages handles the sanitization for you.

We have considered removing support for ECR because of this concern but it is a popular format for people that prefer html templates over a transpiler.

Maybe someone would be interested in submitting a fix for th

[2020-05-08 21:34] Uzay-G commented on #1198
Alright thanks @drujensen. How can I migrate my webapp to slang if i am using ecr?

[2020-05-09 05:48] drujensen commented on #1198
@Uzay-G If it was me, I would first change the `language: ecr` to `language: slang` in the `.amber.yml`.  Then I would run `amber g scaffold sample name:string body:text flag:bool` to provide sample code to look at.  Then I would look at the slim templating language at http://slim-lang.com since Slang is pretty similar to it.  There is a little bit of a learning curve but once you get used to it,

[2020-05-11 16:11] Uzay-G commented on #1198
Im having problems transferring. I changed the config but I am getting this error:
[code]

[2020-05-12 21:28] #1198 closed

[2020-05-12 21:33] Uzay-G opened #1199 "API returns 403"
I am building a scaffold for a simple JSON API. This is my controller:

[code]
And in my routes:
[code]

Now I tried running a request with curl and my browser on my endpoint like this:
[code]
Unfortunately, I am getting a 403 Forbidden response. This is surprising considering the endpoint should either return 401 or 200. Is there some sort of config I need to set to allow api requests?
It works w

[2020-05-12 23:38] drujensen commented on #1199
@Uzay-G The API generator includes the CORS pipeline which requires a -H "origin: " header.  You can set the origin to anything since it defaults to `*` but it is a required header according to the spec.

You can find the relevant code here:  https://github.com/amberframework/amber/blob/master/src/amber/pipes/cors.cr#L29

[2020-05-13 06:17] Uzay-G commented on #1199
Ok thanks

[2020-05-13 06:17] #1199 closed

[2020-05-18 22:34] faissaloo opened #1200 "AMBER_ENV=production causes Missing named tuple key: "production""
### Description

When trying to start my application in production mode I get an error and it does not start

### Steps to Reproduce

1. Start application in production mode

**Expected behavior:** The application starts as usual

**Actual behavior:** The following error:
[code]

**Reproduces how often:** Unknown

### Versions

Crystal 0.30.1 [5e6a1b672] (2019-08-12)
LLVM: 4.0.0
Default target: x8

[2020-05-18 22:52] drujensen commented on #1200
Hi @faissaloo Can you confirm you have a `./config/environments/production.yml` and a `database_url` set?  It looks like it can't find that setting for production.

[2020-05-19 11:47] faissaloo commented on #1200
I have a `config/environments/.production.enc` and it has a `database_url` set, I was under the impression that it should be trying to decrypt it?

[2020-05-19 14:46] drujensen commented on #1200
@faissaloo Ok. I tried this using Crystal 0.34.0 with no issues.

Can you provide `/config/initializers/database.cr:4:27`?  This is where the error is occuring and I'm wondering why its not finding the key `production`

[2020-05-19 17:23] faissaloo commented on #1200
That file is just:
[code]
I'll try see if I can get myself on Crystal 0.34.0

[2020-05-19 17:38] faissaloo commented on #1200
I managed to get myself on 0.33.0 but it still has the same issue

[2020-05-19 17:58] faissaloo commented on #1200
How strange, removing `Granite.settings.logger = Amber.settings.logger.dup` seems to stop it breaking but I'm not quite sure why that line isn't working

[2020-05-19 18:46] faissaloo commented on #1200
Ok I've fixed it, turns out because I upgraded from an older version of Amber things were in the wrong place. When looking at a newly created project in 0.33.0 there is a new file `config/settings.cr` which I had to move the configuration I was previously doing in `config/application.cr` into or the logger wouldn't initialize before it was needed.
![image](https://user-images.githubusercontent.com

[2020-05-19 18:46] #1200 closed

[2020-05-26 15:18] Ajwani97 opened #1202 "Private key leakage"
Hello team,
Please retract the private key of the framework, if it's not used for testing purposes.

If it's a legitimate private key, it can be used for signing viruses..

Thanks

[2020-05-27 14:51] eliasjpr commented on #1189
@andrewc910 look into this PR #1197 which will allow this type of integration much smoother. You can work with @damianham for questions in regards the plugin approach.

I am very much looking forward to see in the next release of amber :)

[2020-05-27 15:45] damianham commented on #1189
@andrewc910 @eliasjpr yes I think the plugin approach is the best way to add features like GraphQL support to Amber projects.  PR #1197 makes minimal changes to existing code other than adding to application.cr to load plugins, a shard for modular rendering and refactors recipe_fetcher.cr to DRY up the code.  Using the plugin approach, I don't think any changes would be required to grantite or any

[2020-05-27 15:52] andrewc910 commented on #1189
Hey guys, thanks for the updates. Been pretty busy with work since covid but in a few weeks my schedule should clear up. Still super interested in this.

Glad the plug-in support is making progress. I definitely support the plug-in approach over integrating graphql into Amber/granite.

The shard author merged by crystal version update a few weeks ago. I forked the repo and did quite a bit of code

[2020-05-29 01:38] drujensen commented on #1202
I believe this key is only used by the tests.  @eliasjpr @elorest can you confirm?

[2020-05-29 01:47] drujensen commented on #1202
I confirmed this is a self signed cert using the default `Internet Widgits Pty Ltd`
[code]

I think we can close this unless I'm missing something.

[2020-05-29 16:37] #1202 closed

[2020-05-29 17:06] Ajwani97 commented on #1202
Its the file named as key.pem, present in the same dir as cert.pem..

Apologies, if you found this issue time consuming.. 🙂

[2020-05-29 22:32] #1192 closed

[2020-05-31 14:36] drujensen opened #1204 "Breaking changes for 0.35.0"
A list of breaking changes and how to fix them when upgrading from <=0.34.0 to 0.35.0

1. Update the version in the `shard.yml`:
[code]

If you are using docker, update the version in `Dockerfile`:
[code]

2. `Logger` has been replaced with `Log` and no longer requires passing an instance to dependent shards.

Remove from the `config/database.cr`:
[code]

Remove from the `config/initializers/maile

[2020-06-06 10:54] OpakAlex opened #1205 "How to create project without webpack, only API?"
Hello, how it's possible to create project for API without templates and webpack code?

[2020-06-06 17:39] drujensen commented on #1205
It would be great to add a `--minimal` flag like Rails 6.0 is adding.

For now, you can delete the webpack configuration and all the view templates.  Then in the `.amber.yml`, remove the `npm` section from the watcher.

Finally you can use the `amber generate api Post title:string body:text published:bool` command to provide you a full restful resource with routes, controller, model and migrations

[2020-06-07 04:28] OpakAlex commented on #1205
Thanks, i will check your generators!

[2020-06-07 04:28] #1205 closed

[2020-06-08 12:46] OpakAlex commented on #1193
@drujensen can i pick up this one? can you assign to me?

[2020-06-08 15:23] OpakAlex commented on #1187
@PeterMozesMerl try to use brew version or docker. It works perfect for me.

[2020-06-08 19:30] drujensen commented on #1193
thanks @OpakAlex !

[2020-06-08 19:30] #1193 closed

[2020-06-17 23:05] renich opened #1213 "spec tests running before database gets created while using sqlite"
### Description
After creating the sample app (with sqlite), it tries to run some tests and fails due to the database not existing yet.

### Steps to Reproduce
[code]

**Expected behavior:** [What you expect to happen]
Stuff should just work

**Actual behavior:** [What actually happens]
There is a route error and what appears to be spec errors.

**Reproduces how often:** [What percentage of the ti